openapi: 3.0.0
info:
  contact:
    email: messente@messente.com
    name: Messente
    url: https://messente.com
  description: |-
    [Messente](https://messente.com) is a global provider of messaging and user verification services.

    * Send and receive SMS, Viber and WhatsApp messages.
    * Manage contacts and groups.
    * Fetch detailed info about phone numbers.
    * Blacklist phone numbers to make sure you're not sending any unwanted messages.

    Messente builds [tools](https://messente.com/documentation) to help organizations connect their services to people anywhere in the world.
  license:
    name: Apache-2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://messente.com/terms-and-conditions
  title: Messente API
  version: 2.0.0
externalDocs:
  description: More documentation
  url: https://messente.com/documentation
servers:
- url: https://api.messente.com/v1
security:
- basicAuth: []
tags:
- description: |-
    Blacklist is a list of numbers that is tied to one specific account.
    All messages sent using any API credentials from this account, are passed through this list.
    If the number is in the list, the message is not sent.
    It applies both to API calls and messages sent from the Dashboard.
  name: Blacklist
- description: |-
    Every contact in the Phonebook may belong to one or many Groups, which makes it easy to send targeted messages just by selecting the Groups you want.

    You can think of Groups also as Labels that each Contacts can have.

    When sending message to multiple groups, Messente only sends one message per Contact. This means you can send messages without having to worry about duplicate messages being sent.

    Using the Phonebook API you can

    * Select Contacts and filter by Groups
    * Fetch Contact details
    * Create a new Contact
    * Update an existing Contacts
    * Add or remove a Contact from a Group
    * Delete a Contact
  name: Contacts
- description: |-
    Every contact in the Phonebook may belong to one or many Groups, which makes it easy to send targeted messages just by selecting the Groups you want.

    You can think of Groups also as Labels that each Contacts can have.

    When sending message to multiple groups, Messente only sends one message per Contact. This means you can send messages without having to worry about duplicate messages being sent.

    Using the Phonebook API you can

    * List all Groups
    * Create a new Group
    * Update an existing Group
    * Delete a Group
  name: Groups
- description: Send omnimessages to a phone number with fallback options for various
    channels
  name: Omnimessage
- description: Retrieve delivery reports which indicate whether the message was delivered
  name: Delivery Report
- description: Manage WhatsApp Cloud API templates
  name: WhatsApp Templates
- description: Find out statuses and network info of phone numbers
  name: Number Lookup
- description: Get total messages and price per country
  name: Statistics
- description: Send omnimessages in bulk to a phone number with fallback options for
    various channels
  name: Bulk Messaging
- description: Get your account balance
  name: Account Balance
- description: Get pricing information
  name: Pricing
- description: Verify your phone number
  name: Number Verification
paths:
  /get_balance:
    get:
      operationId: getAccountBalance
      parameters:
      - description: The API username
        explode: true
        in: query
        name: username
        required: true
        schema:
          type: string
        style: form
      - description: The API password
        explode: true
        in: query
        name: password
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                description: "Syntax for successful response: OK [SMS balance in EUR]\n\
                  Syntax for unsuccessful response: ERROR [error code]\nerror codes:\n\
                  \  - 101: Access is restricted, wrong credentials. Check username\
                  \ and password values. \n  - 102: Parameters are wrong or missing.\
                  \ Check that all required parameters are present.\n  - 209: Server\
                  \ failure, try again after a few seconds or try api3.messente.com\
                  \ backup server.\n"
                example: OK 10.23
                type: string
          description: Both errors and success responses are returned as plain text
            with HTTP status 200.
      security:
      - apiUsername: []
        apiPassword: []
      summary: Get account balance
      tags:
      - Account Balance
      x-accepts:
      - text/plain
    post:
      operationId: getAccountBalanceUsingPost
      parameters:
      - description: The API username
        explode: true
        in: query
        name: username
        required: true
        schema:
          type: string
        style: form
      - description: The API password
        explode: true
        in: query
        name: password
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                description: "Syntax for successful response: OK [SMS balance in EUR]\n\
                  Syntax for unsuccessful response: ERROR [error code]\nerror codes:\n\
                  \  - 101: Access is restricted, wrong credentials. Check username\
                  \ and password values. \n  - 102: Parameters are wrong or missing.\
                  \ Check that all required parameters are present.\n  - 209: Server\
                  \ failure, try again after a few seconds or try api3.messente.com\
                  \ backup server.\n"
                example: OK 10.23
                type: string
          description: Both errors and success responses are returned as plain text
            with HTTP status 200.
      security:
      - apiUsername: []
        apiPassword: []
      summary: Get account balance
      tags:
      - Account Balance
      x-accepts:
      - text/plain
    servers:
    - description: Override base path for account balance API
      url: https://api2.messente.com
  /omnimessages:
    post:
      operationId: sendBulkOmnimessage
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkOmnimessage'
        description: Bulk Omnimessage to be sent
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkOmniMessageCreateSuccessResponse'
          description: Bulk Omnimessage success response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorOmnichannel'
          description: Invalid input
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorOmnichannel'
          description: Unauthorized
      summary: Sends a bulk Omnimessage
      tags:
      - Bulk Messaging
      x-content-type: application/json
      x-accepts:
      - application/json
  /hlr/sync:
    post:
      operationId: fetchInfo
      requestBody:
        content:
          application/json:
            example:
              numbers:
              - "+37251000000"
              - "+37251000001"
            schema:
              $ref: '#/components/schemas/NumbersToInvestigate'
        description: Numbers for lookup
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                request_id: d50fbe61-053d-46b1-b452-f64ef38d2247
                result:
                - number: "+37251000000"
                  roaming: null
                  roamingNetwork: null
                  currentNetwork: null
                  originalNetwork: null
                  portedNetwork: null
                  ported: null
                  status: INVALID
                - number: "+37251000001"
                  roaming: false
                  roamingNetwork: null
                  currentNetwork:
                    countryCode: EST
                    countryPrefix: "372"
                    countryName: Estonia
                    networkName: Any Company
                    mccmnc: "11111"
                  originalNetwork:
                    countryCode: EST
                    countryPrefix: "372"
                    countryName: Estonia
                    networkName: Any Company
                    mccmnc: "11111"
                  portedNetwork: null
                  ported: false
                  status: "ON"
              schema:
                $ref: '#/components/schemas/SyncNumberLookupSuccess'
          description: Info about phone numbers returned
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNumberLookup'
          description: Invalid request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNumberLookup'
          description: Unauthorized
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNumberLookup'
          description: Failed crediting
      summary: Requests info about phone numbers
      tags:
      - Number Lookup
      x-content-type: application/json
      x-accepts:
      - application/json
  /verify/start:
    post:
      operationId: verifyNumber
      parameters:
      - description: The API username
        explode: true
        in: query
        name: username
        required: true
        schema:
          type: string
        style: form
      - description: The API password
        explode: true
        in: query
        name: password
        required: true
        schema:
          type: string
        style: form
      - description: Receiver's phone number with the country code
        explode: true
        in: query
        name: to
        required: true
        schema:
          type: string
        style: form
      - description: |
          Template of the message, including PIN code. Placeholder for PIN code is <PIN>.
          When not set, default template is used: "Your Verification PIN code is <PIN>".
        explode: true
        in: query
        name: template
        required: false
        schema:
          type: string
        style: form
      - description: "Length of the PIN code. Minumum 4 digits, maximum 16. Defaults\
          \ to 4."
        explode: true
        in: query
        name: pin_length
        required: false
        schema:
          type: string
        style: form
      - description: "Sender name. When not set, the default Sender name \"Verigator\"\
          \ is used. This sender ID also needs to be added to your account beforehand."
        explode: true
        in: query
        name: from
        required: false
        schema:
          type: string
        style: form
      - description: "Maximum number of times the PIN code is sent in total.\nDefaults\
          \ to \"2\" - initial PIN code and one retry.\nIt is discouraged to set this\
          \ value to \"1\" as only the initial PIN code is sent and retry is disabled.\
          \ \n"
        explode: true
        in: query
        name: max_tries
        required: false
        schema:
          type: string
        style: form
      - description: "For how long (in seconds) to wait for next retry, if the correct\
          \ PIN code has not been entered yet? Defaults to 30 seconds."
        explode: true
        in: query
        name: retry_delay
        required: false
        schema:
          type: string
        style: form
      - description: For how long (in seconds) is the PIN code valid. Defaults to
          5 minutes (300 seconds). Maximum 30 minutes (1800 seconds).
        explode: true
        in: query
        name: validity
        required: false
        schema:
          type: string
        style: form
      - description: IP address of the client making verification request.
        explode: true
        in: query
        name: ip
        required: false
        schema:
          type: string
        style: form
      - description: "User Agent of the browser. For example \"Mozilla/5.0 (Macintosh;\
          \ Intel Mac OS X 10_10_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/43.0.2357.130\
          \ Safari/537.36\"."
        explode: true
        in: query
        name: browser
        required: false
        schema:
          type: string
        style: form
      - description: "Unique cookie assigned to this session. If a user tries logging\
          \ in with the same cookie present, user is automatically logged in and no\
          \ PIN code verification is needed."
        explode: true
        in: query
        name: cookie
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                description: |
                  Syntax for successful response: OK [VerificationID]
                  Syntax for unsuccessful response: ERROR [error code] | VERIFIED
                  error codes:
                    - VERIFIED: User is logging in from already verified computer, no PIN code verification is required.
                    - 101: Access is restricted, wrong credentials. Check the username and password values.
                    - 102: Parameters are wrong or missing. Check that all the required parameters are present.
                    - 103: Invalid IP address. The IP address you made the request from, is not in the API settings whitelist.
                    - 109: PIN code field is missing in the template value.
                    - 111: Sender parameter "from" is invalid. You have not activated this sender name from Messente.com
                    - 209: Server failure, try again after a few seconds or try api3.messente.com backup server.
                example: ERROR 101
                type: string
          description: Both errors and success responses are returned as plain text
            with HTTP status 200.
      security:
      - apiUsername: []
        apiPassword: []
      summary: verify number
      tags:
      - Number Verification
      x-accepts:
      - text/plain
    servers:
    - description: Override base path for number verification API
      url: https://api2.messente.com
  /verify/pin:
    post:
      operationId: verifyPin
      parameters:
      - description: The API username
        explode: true
        in: query
        name: username
        required: true
        schema:
          type: string
        style: form
      - description: The API password
        explode: true
        in: query
        name: password
        required: true
        schema:
          type: string
        style: form
      - description: Verification ID returned by the successful verification request.
        explode: true
        in: query
        name: verification_id
        required: true
        schema:
          type: string
        style: form
      - description: PIN code entered by the user.
        explode: true
        in: query
        name: pin
        required: true
        schema:
          type: string
        style: form
      - description: "IP address of the client making verification request. If the\
          \ IP address is from another country, PIN is required even if the cookies\
          \ match."
        explode: true
        in: query
        name: ip
        required: false
        schema:
          type: string
        style: form
      - description: "User Agent of the browser. For example \"Mozilla/5.0 (Macintosh;\
          \ Intel Mac OS X 10_10_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/43.0.2357.130\
          \ Safari/537.36\"."
        explode: true
        in: query
        name: browser
        required: false
        schema:
          type: string
        style: form
      - description: "Unique cookie assigned to this session. If a user tries logging\
          \ in with the same cookie present, user is automatically logged in and no\
          \ PIN code verification is needed."
        explode: true
        in: query
        name: cookie
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                description: |
                  Syntax for successful response: VERIFIED
                  Syntax for unsuccessful response: [ERROR]
                  error codes:
                    - INVALID: The PIN code does not match the PIN code sent.
                    - EXPIRED: The PIN code has expired. Please request for new PIN code.
                    - THROTTLED: Too many verification calls made for this Verification Session. User is possibly trying to guess the password.
                    - ERROR 101: Access is restricted, wrong credentials. Check the username and password values.
                    - ERROR 102: Parameters are wrong or missing. Check that all the required parameters are present.
                    - ERROR 103: Invalid IP address. The IP address you made the request from, is not in the API settings whitelist.
                    - ERROR 110: Verification Session with following ID was not found.
                    - ERROR 209: Server failure, try again after a few seconds or try api3.messente.com backup server.
                example: VERIFIED
                type: string
          description: Both errors and success responses are returned as plain text
            with HTTP status 200.
      security:
      - apiUsername: []
        apiPassword: []
      summary: verified the PIN code entered by the user.
      tags:
      - Number Verification
      x-accepts:
      - text/plain
    servers:
    - description: Override base path for number verification API
      url: https://api2.messente.com
  /omnimessage:
    post:
      operationId: sendOmnimessage
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Omnimessage'
        description: Omnimessage to be sent
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OmniMessageCreateSuccessResponse'
          description: Omnimessage success response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorOmnichannel'
          description: Invalid input
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorOmnichannel'
          description: Unauthorized
      summary: Sends an Omnimessage
      tags:
      - Omnimessage
      x-content-type: application/json
      x-accepts:
      - application/json
  /omnimessage/{omnimessageId}/status:
    get:
      operationId: retrieveDeliveryReport
      parameters:
      - description: UUID of the omnimessage to for which the delivery report is to
          be retrieved
        explode: false
        in: path
        name: omnimessageId
        required: true
        schema:
          format: UUID
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeliveryReportResponse'
          description: Delivery report success
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorOmnichannel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorOmnichannel'
          description: If no such message exists or you do not have access to the
            particular message
      summary: Retrieves the delivery report for the Omnimessage
      tags:
      - Delivery Report
      x-accepts:
      - application/json
  /omnimessage/{omnimessageId}:
    delete:
      operationId: cancelScheduledMessage
      parameters:
      - description: UUID of the scheduled omnimessage to be cancelled
        explode: false
        in: path
        name: omnimessageId
        required: true
        schema:
          format: UUID
          type: string
        style: simple
      responses:
        "202":
          content:
            application/json:
              example: {}
              schema:
                $ref: '#/components/schemas/EmptyObject'
          description: Scheduled omnimessage successfully cancelled
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorOmnichannel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorOmnichannel'
          description: If the omnimessage has already been sent or no such message
            exists
      summary: Cancels a scheduled Omnimessage
      tags:
      - Omnimessage
      x-accepts:
      - application/json
  /whatsapp/wabas/{wabaId}/templates:
    delete:
      operationId: deleteWhatsappTemplate
      parameters:
      - description: The ID of the WABA
        explode: false
        in: path
        name: wabaId
        required: true
        schema:
          type: string
        style: simple
      - description: The name of the template to delete
        example: template_name
        explode: true
        in: query
        name: name
        required: true
        schema:
          type: string
        style: form
      - description: The ID of the template to delete
        example: "1"
        explode: true
        in: query
        name: hsmId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnyJsonResponse'
          description: template deletion successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorOmnichannel'
          description: Invalid input
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorOmnichannel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorOmnichannel'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorOmnichannel'
          description: Internal Server Error
      summary: Deletes a WhatsApp template
      tags:
      - WhatsApp Templates
      x-accepts:
      - application/json
    get:
      operationId: listWhatsappTemplates
      parameters:
      - description: The ID of the WABA
        explode: false
        in: path
        name: wabaId
        required: true
        schema:
          type: string
        style: simple
      - description: "The number of templates to return in the list. Although the\
          \ max size is 500, for large datasets it is recommended to use a lower limit\
          \ and instead use pagination to avoid potential timeouts. Defaults to 25."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          example: 10
          maximum: 500
          minimum: 1
          type: integer
        style: form
      - description: A cursor point used for a paginated request to indicate the template
          to paginate backwards from.
        explode: true
        in: query
        name: before
        required: false
        schema:
          example: MAZDZD
          type: string
        style: form
      - description: A cursor point used for a paginated request to indicate the template
          to paginate forwards from.
        explode: true
        in: query
        name: after
        required: false
        schema:
          example: MjQZD
          type: string
        style: form
      - description: A filter for returning only templates matching a specific category.
        explode: true
        in: query
        name: category
        required: false
        schema:
          $ref: '#/components/schemas/WhatsappTemplateCategory'
        style: form
      - description: A search filter representing the content of a template. Only
          matching templates will be returned in the list.
        explode: true
        in: query
        name: content
        required: false
        schema:
          example: special offer
          type: string
        style: form
      - description: "A filter  for returning only templates matching a specific language\
          \ code. A list of supported languages is available in the [WhatsApp documentation](https://developers.facebook.com/docs/whatsapp/api/messages/message-templates/) "
        explode: true
        in: query
        name: language
        required: false
        schema:
          example: en
          type: string
        style: form
      - description: "A search filter representing the name, either full or partial,\
          \ of a template. Only matching templates will be returned in the list."
        explode: true
        in: query
        name: name
        required: false
        schema:
          example: Sample Template
          type: string
        style: form
      - description: A filter for returning only templates matching a specific status.
        explode: true
        in: query
        name: status
        required: false
        schema:
          $ref: '#/components/schemas/WhatsappTemplateStatus'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappListTemplatesResponse'
          description: template list fetched successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorOmnichannel'
          description: Invalid input
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorOmnichannel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorOmnichannel'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorOmnichannel'
          description: Internal Server Error
      summary: Requests a list of WhatsApp templates
      tags:
      - WhatsApp Templates
      x-accepts:
      - application/json
    post:
      operationId: createWhatsappTemplate
      parameters:
      - description: The ID of the WABA
        explode: false
        in: path
        name: wabaId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WhatsappCreateTemplateRequest'
        description: The WhatsApp template to create
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappCreateTemplateResponse'
          description: template creation successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorOmnichannel'
          description: Invalid input
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorOmnichannel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorOmnichannel'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorOmnichannel'
          description: Internal Server Error
      summary: Creates a WhatsApp template
      tags:
      - WhatsApp Templates
      x-content-type: application/json
      x-accepts:
      - application/json
  /whatsapp/wabas/{wabaId}/templates/{templateId}:
    get:
      operationId: getWhatsappTemplateById
      parameters:
      - description: The ID of the WABA
        explode: false
        in: path
        name: wabaId
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of the template to retrieve
        explode: false
        in: path
        name: templateId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappTemplateResponse'
          description: template fetched successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorOmnichannel'
          description: Invalid input
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorOmnichannel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorOmnichannel'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorOmnichannel'
          description: Internal Server Error
      summary: Requests a WhatsApp template with the given ID
      tags:
      - WhatsApp Templates
      x-accepts:
      - application/json
    put:
      operationId: updateWhatsappTemplate
      parameters:
      - description: The ID of the WABA
        explode: false
        in: path
        name: wabaId
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of the template to update
        explode: false
        in: path
        name: templateId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WhatsappUpdateTemplateRequest'
        description: The template data to be updated
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnyJsonResponse'
          description: template update successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorOmnichannel'
          description: Invalid input
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorOmnichannel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorOmnichannel'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorOmnichannel'
          description: Internal Server Error
      summary: Updates a WhatsApp template
      tags:
      - WhatsApp Templates
      x-content-type: application/json
      x-accepts:
      - application/json
  /phonebook/blacklist:
    get:
      operationId: fetchBlacklist
      responses:
        "200":
          content:
            application/json:
              example:
                phoneNumbers:
                - "+37251000000"
                - "+37251000001"
              schema:
                $ref: '#/components/schemas/FetchBlacklistSuccess'
          description: An object containing a list of blacklisted phone numbers
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Unauthorized
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: General error
      summary: Returns all blacklisted phone numbers
      tags:
      - Blacklist
      x-accepts:
      - application/json
    post:
      operationId: addToBlacklist
      requestBody:
        content:
          application/json:
            example:
              phoneNumber: "+37251000000"
            schema:
              $ref: '#/components/schemas/NumberToBlacklist'
        description: Phone number to be blacklisted
        required: true
      responses:
        "204":
          description: Phone number added to the blacklist
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Invalid phone number provided
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Unauthorized
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Phone number already blacklisted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: General error
      summary: Adds a phone number to the blacklist
      tags:
      - Blacklist
      x-content-type: application/json
      x-accepts:
      - application/json
  /phonebook/blacklist/{phone}:
    delete:
      operationId: deleteFromBlacklist
      parameters:
      - description: A phone number
        example: "+37251000000"
        explode: false
        in: path
        name: phone
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Phone number deleted from the blacklist
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Invalid phone number provided
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Phone number is not in the blacklist
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: General error
      summary: Deletes a phone number from the blacklist
      tags:
      - Blacklist
      x-accepts:
      - application/json
    get:
      operationId: isBlacklisted
      parameters:
      - description: A phone number
        example: "+37251000000"
        explode: false
        in: path
        name: phone
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Phone number is in the blacklist
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Invalid phone number provided
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Phone number is not in the blacklist
      summary: Checks if a phone number is blacklisted
      tags:
      - Blacklist
      x-accepts:
      - application/json
  /phonebook/contacts/{phone}:
    delete:
      operationId: deleteContact
      parameters:
      - description: A phone number
        example: "+37251000000"
        explode: false
        in: path
        name: phone
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Contact deleted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Invalid phone number provided
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Contact missing
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: General error
      summary: Deletes a contact
      tags:
      - Contacts
      x-accepts:
      - application/json
    get:
      operationId: fetchContact
      parameters:
      - description: A phone number
        example: "+37251000000"
        explode: false
        in: path
        name: phone
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                contact:
                  phoneNumber: "+37251000000"
                  email: anyone@messente.com
                  firstName: Any
                  lastName: One
                  company: Messente
                  title: Sir
                  custom: Any custom
                  custom2: Any custom two
                  custom3: Any custom three
                  custom4: Any custom four
                  scheduledDeletionDate: 2020-08-31
              schema:
                $ref: '#/components/schemas/ContactEnvelope'
          description: An object containing a contact object
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Invalid phone number provided
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Contact missing
      summary: Lists a contact
      tags:
      - Contacts
      x-accepts:
      - application/json
    patch:
      operationId: updateContact
      parameters:
      - description: A phone number
        example: "+37251000000"
        explode: false
        in: path
        name: phone
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              email: anyone@messente.com
              firstName: Any
              lastName: One
              company: Messente
              title: Sir
              custom: Any custom
              custom2: Any custom two
              custom3: Any custom three
              custom4: Any custom four
            schema:
              $ref: '#/components/schemas/ContactUpdateFields'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                contact:
                  phoneNumber: "+37251000000"
                  email: anyone@messente.com
                  firstName: Any
                  lastName: One
                  company: Messente
                  title: Sir
                  custom: Any custom
                  custom2: Any custom two
                  custom3: Any custom three
                  custom4: Any custom four
                  scheduledDeletionDate: 2020-08-31
              schema:
                $ref: '#/components/schemas/ContactEnvelope'
          description: An object containing a contact object
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Invalid phone number or empty patch body or unknown fields
            provided
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Contact missing
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: General error
      summary: Updates a contact
      tags:
      - Contacts
      x-content-type: application/json
      x-accepts:
      - application/json
  /phonebook/contacts/{phone}/groups:
    get:
      operationId: fetchContactGroups
      parameters:
      - description: A phone number
        example: "+37251000000"
        explode: false
        in: path
        name: phone
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                groups:
                - contactsCount: 1
                  name: Any group name
                  id: 5792a02a-e5c2-422b-a0a0-0ae65d814663
                  createdOn: 2019-04-22T11:46:23.753613Z
              schema:
                $ref: '#/components/schemas/GroupListEnvelope'
          description: An object containing a list of group objects
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Invalid phone number provided
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Contact missing
      summary: Lists groups of a contact
      tags:
      - Contacts
      x-accepts:
      - application/json
  /phonebook/contacts:
    get:
      operationId: fetchContacts
      parameters:
      - description: |
          Optional one or many group id strings in UUID format.
          For example: "/contacts?groupIds=group_id_one&groupIds=group_id_two"
        example:
        - 5792a02a-e5c2-422b-a0a0-0ae65d814663
        - 4792a02a-e5c2-422b-a0a0-0ae65d814662
        explode: true
        in: query
        name: groupIds
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                contacts:
                - phoneNumber: "+37251000000"
                  email: anyone@messente.com
                  firstName: Any
                  lastName: One
                  company: Messente
                  title: Sir
                  custom: Any custom
                  custom2: Any custom two
                  custom3: Any custom three
                  custom4: Any custom four
                  scheduledDeletionDate: 2020-08-31
              schema:
                $ref: '#/components/schemas/ContactListEnvelope'
          description: An object containing a list of contact objects
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Invalid "groupIds" parameters provided
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Unauthorized
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: General error
      summary: Returns all contacts
      tags:
      - Contacts
      x-accepts:
      - application/json
    post:
      operationId: createContact
      requestBody:
        content:
          application/json:
            example:
              phoneNumber: "+37251000000"
              email: anyone@messente.com
              firstName: Any
              lastName: One
              company: Messente
              title: Sir
              custom: Any custom
              custom2: Any custom two
              custom3: Any custom three
              custom4: Any custom four
            schema:
              $ref: '#/components/schemas/ContactFields'
        required: true
      responses:
        "201":
          content:
            application/json:
              example:
                contact:
                  phoneNumber: "+37251000000"
                  email: anyone@messente.com
                  firstName: Any
                  lastName: One
                  company: Messente
                  title: Sir
                  custom: Any custom
                  custom2: Any custom two
                  custom3: Any custom three
                  custom4: Any custom four
                  scheduledDeletionDate: 2020-08-31
              schema:
                $ref: '#/components/schemas/ContactEnvelope'
          description: An object containing a contact object
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Invalid phone number provided
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Unauthorized
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Contact with phone already created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: General error
      summary: Creates a new contact
      tags:
      - Contacts
      x-content-type: application/json
      x-accepts:
      - application/json
  /phonebook/groups/{groupId}:
    delete:
      operationId: deleteGroup
      parameters:
      - description: String in UUID format
        example: 5792a02a-e5c2-422b-a0a0-0ae65d814663
        explode: false
        in: path
        name: groupId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Group deleted
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Group missing
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: General error
      summary: Deletes a group
      tags:
      - Groups
      x-accepts:
      - application/json
    get:
      operationId: fetchGroup
      parameters:
      - description: String in UUID format
        example: 5792a02a-e5c2-422b-a0a0-0ae65d814663
        explode: false
        in: path
        name: groupId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                group:
                  contactsCount: 1
                  name: Any group name
                  id: 5792a02a-e5c2-422b-a0a0-0ae65d814663
                  createdOn: 2019-04-22T11:46:23.753613Z
              schema:
                $ref: '#/components/schemas/GroupEnvelope'
          description: An object containing a group object
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Missing group
      summary: Lists a group
      tags:
      - Groups
      x-accepts:
      - application/json
    put:
      operationId: updateGroup
      parameters:
      - description: String in UUID format
        example: 5792a02a-e5c2-422b-a0a0-0ae65d814663
        explode: false
        in: path
        name: groupId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              name: Any group name
            schema:
              $ref: '#/components/schemas/GroupName'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                group:
                  contactsCount: 1
                  name: Any group name
                  id: 5792a02a-e5c2-422b-a0a0-0ae65d814663
                  createdOn: 2019-04-22T11:46:23.753613Z
              schema:
                $ref: '#/components/schemas/GroupEnvelope'
          description: An object containing a group object
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Name is invalid string or shorter than length 1
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Group missing
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: General error
      summary: Updates a group with the provided name
      tags:
      - Groups
      x-content-type: application/json
      x-accepts:
      - application/json
  /phonebook/groups/{groupId}/contacts/{phone}:
    delete:
      operationId: removeContactFromGroup
      parameters:
      - description: String in UUID format
        example: 5792a02a-e5c2-422b-a0a0-0ae65d814663
        explode: false
        in: path
        name: groupId
        required: true
        schema:
          type: string
        style: simple
      - description: A phone number
        example: "+37251000000"
        explode: false
        in: path
        name: phone
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Contact removed from group
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Invalid phone number provided
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Contact or group is missing or contact is missing from group
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: General error
      summary: Removes a contact from a group
      tags:
      - Contacts
      x-accepts:
      - application/json
    post:
      operationId: addContactToGroup
      parameters:
      - description: String in UUID format
        example: 5792a02a-e5c2-422b-a0a0-0ae65d814663
        explode: false
        in: path
        name: groupId
        required: true
        schema:
          type: string
        style: simple
      - description: A phone number
        example: "+37251000000"
        explode: false
        in: path
        name: phone
        required: true
        schema:
          type: string
        style: simple
      responses:
        "201":
          content:
            application/json:
              example: {}
              schema:
                $ref: '#/components/schemas/EmptyObject'
          description: An empty object
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Invalid phone number provided
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Contact or group is missing
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Contact already added to group
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: General error
      summary: Adds a contact to a group
      tags:
      - Contacts
      x-accepts:
      - application/json
  /phonebook/groups:
    get:
      operationId: fetchGroups
      responses:
        "200":
          content:
            application/json:
              example:
                groups:
                - contactsCount: 1
                  name: Any group name
                  id: 5792a02a-e5c2-422b-a0a0-0ae65d814663
                  createdOn: 2019-04-22T11:46:23.753613Z
              schema:
                $ref: '#/components/schemas/GroupListEnvelope'
          description: An object containing a list of group objects
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Unauthorized
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: General error
      summary: Returns all groups
      tags:
      - Groups
      x-accepts:
      - application/json
    post:
      operationId: createGroup
      requestBody:
        content:
          application/json:
            example:
              name: Any group name
            schema:
              $ref: '#/components/schemas/GroupName'
        required: true
      responses:
        "201":
          content:
            application/json:
              example:
                group:
                  contactsCount: 1
                  name: Any group name
                  id: 5792a02a-e5c2-422b-a0a0-0ae65d814663
                  createdOn: 2019-04-22T11:46:23.753613Z
              schema:
                $ref: '#/components/schemas/GroupEnvelope'
          description: An object containing a group object
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Name is invalid string or shorter than length 1
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Unauthorized
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: General error
      summary: Creates a new group with the provided name
      tags:
      - Groups
      x-content-type: application/json
      x-accepts:
      - application/json
  /pricelist:
    get:
      operationId: getPricelist
      parameters:
      - description: The API username
        explode: true
        in: query
        name: username
        required: true
        schema:
          type: string
        style: form
      - description: The API password
        explode: true
        in: query
        name: password
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                description: "Syntax for successful response: CSV with the following\
                  \ columns:\n  - Country\n  - Code\n  - MCCMNC\n  - Network\n  -\
                  \ Price\nSyntax for unsuccessful response: ERROR [error code]\n\
                  error codes:\n  - 101: Access is restricted, wrong credentials.\
                  \ Check username and password values. \n  - 102: Parameters are\
                  \ wrong or missing. Check that all required parameters are present.\n\
                  \  - 103: IP address not allowed.\n  - 209: Server failure, try\
                  \ again after a few seconds.\n"
                example: ERROR 101
                type: string
          description: |
            Both errors and success responses are returned as plain text with HTTP status 200.
            Unsuccessful responses contain the error code, while successful ones contain the pricelist in CSV format.
      security:
      - apiUsername: []
        apiPassword: []
      summary: Get pricelist for account
      tags:
      - Pricing
      x-accepts:
      - text/plain
    servers:
    - description: Override base path for pricing API
      url: https://api2.messente.com
  /prices:
    get:
      operationId: getPrices
      parameters:
      - description: The API username
        explode: true
        in: query
        name: username
        required: true
        schema:
          type: string
        style: form
      - description: The API password
        explode: true
        in: query
        name: password
        required: true
        schema:
          type: string
        style: form
      - description: "The country code, for which to get the prices"
        example: EE
        explode: true
        in: query
        name: country
        required: true
        schema:
          type: string
        style: form
      - description: "The format of the response. Can be either 'json' or 'xml'. If\
          \ not specified, defaults to 'json'."
        explode: true
        in: query
        name: format
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Price'
            application/xml:
              schema:
                $ref: '#/components/schemas/Price'
            text/plain; charset=utf-8:
              schema:
                description: "Syntax for unsuccessful response: ERROR [error code]\n\
                  error codes:\n  - 101: Access is restricted, wrong credentials.\
                  \ Check username and password values. \n  - 102: Parameters are\
                  \ wrong or missing. Check that all required parameters are present.\n\
                  \  - 103: IP address is not allowed.\n  - 104: Country was not found.\n\
                  \  - 105: This country is not supported.\n  - 106: Invalid format\
                  \ provided. Only json or xml is allowed.\n  - 209: Server failure,\
                  \ try again after a few seconds or try api3.messente.com backup\
                  \ server.\n"
                example: ERROR 101
                type: string
          description: "Unsuccessful responses are returned as plain text with an\
            \ error code, while successful ones contain either JSON or XML depending\
            \ on the user's choice."
      security:
      - apiUsername: []
        apiPassword: []
      summary: Get pricing for a specific country
      tags:
      - Pricing
      x-accepts:
      - application/json
      - application/xml
      - text/plain; charset=utf-8
    servers:
    - description: Override base path for pricing API
      url: https://api2.messente.com
  /statistics/reports:
    post:
      operationId: createStatisticsReport
      requestBody:
        content:
          application/json:
            example:
              start_date: 2017-01-01
              end_date: 2019-06-20
              message_types:
              - sms
            schema:
              $ref: '#/components/schemas/StatisticsReportSettings'
        description: Settings for statistics report
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                reports:
                - total_messages: 1483
                  total_price: "0.00200"
                  country: Estonia
                - total_messages: 1356
                  total_price: "0.06500"
                  country: Finland
                - total_messages: 1586
                  total_price: "70.26100"
                  country: Spain
              schema:
                $ref: '#/components/schemas/StatisticsReportSuccess'
          description: Created reports by countries
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorStatistics'
          description: Client Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorStatistics'
          description: Unauthorized
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorStatistics'
          description: Invalid data
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorStatistics'
          description: Internal Server Error
      summary: Requests statistics reports for each country
      tags:
      - Statistics
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  schemas:
    StatisticsReport:
      description: Report for one country
      example:
        country: country
        total_price: total_price
        total_messages: 0
      properties:
        total_messages:
          description: Sum of all messages
          type: integer
        total_price:
          description: Price for all messages
          type: string
        country:
          description: Target country of all messages
          type: string
      required:
      - country
      - total_messages
      - total_price
      type: object
    StatisticsReportSuccess:
      description: A container for statistics reports
      example:
        reports:
        - country: country
          total_price: total_price
          total_messages: 0
        - country: country
          total_price: total_price
          total_messages: 0
      properties:
        reports:
          description: Array of report objects
          items:
            $ref: '#/components/schemas/StatisticsReport'
          type: array
      required:
      - reports
      type: object
    StatisticsReportSettings:
      description: A container for statistics report settings
      example:
        end_date: 2000-01-23
        start_date: 2000-01-23
        message_types:
        - message_types
        - message_types
      properties:
        start_date:
          description: Start date for the report
          format: date
          type: string
        end_date:
          description: End date for the report
          format: date
          type: string
        message_types:
          description: "Optional list of message types (sms, viber, whatsapp, hlr,\
            \ telegram)"
          items:
            type: string
          type: array
      required:
      - end_date
      - start_date
      type: object
    ErrorStatistics:
      description: A container for errors
      example:
        errors:
        - code: "100"
          details: details
          title: title
        - code: "100"
          details: details
          title: title
      properties:
        errors:
          description: An array of errors
          items:
            $ref: '#/components/schemas/ErrorItemStatistics'
          type: array
      required:
      - errors
    ErrorItemStatistics:
      description: Error fields container
      example:
        code: "100"
        details: details
        title: title
      properties:
        title:
          description: Error title
          type: string
        details:
          description: Error details
          type: string
        code:
          $ref: '#/components/schemas/ErrorCodeStatistics'
      required:
      - code
      - details
      - title
      type: object
    ErrorCodeStatistics:
      description: |-
        Matches the following error title.
          This field is a constant

        * 100 - Client Error
        * 103 - Unauthorized
        * 104 - Invalid data
        * 105 - Internal Server Error
      enum:
      - "100"
      - "103"
      - "104"
      - "105"
      type: string
    MobileNetwork:
      description: Info about the network related to the phone number
      example:
        countryPrefix: countryPrefix
        mccmnc: mccmnc
        countryCode: countryCode
        networkName: networkName
        countryName: countryName
      nullable: true
      properties:
        mccmnc:
          description: Mobile country and mobile network code
          type: string
        networkName:
          description: Mobile network name
          type: string
        countryName:
          description: Country name
          type: string
        countryPrefix:
          description: Country prefix
          type: string
        countryCode:
          description: Country code
          type: string
      type: object
    SyncNumberLookupResult:
      description: Info about a phone number
      example:
        ported: true
        number: number
        roaming: true
        roamingNetwork:
          countryPrefix: countryPrefix
          mccmnc: mccmnc
          countryCode: countryCode
          networkName: networkName
          countryName: countryName
        currentNetwork:
          countryPrefix: countryPrefix
          mccmnc: mccmnc
          countryCode: countryCode
          networkName: networkName
          countryName: countryName
        portedNetwork:
          countryPrefix: countryPrefix
          mccmnc: mccmnc
          countryCode: countryCode
          networkName: networkName
          countryName: countryName
        error: ""
        originalNetwork:
          countryPrefix: countryPrefix
          mccmnc: mccmnc
          countryCode: countryCode
          networkName: networkName
          countryName: countryName
        status: "ON"
      properties:
        number:
          description: Phone number in e.164 format
          type: string
        roaming:
          description: Indicates if a number is roaming
          nullable: true
          type: boolean
        ported:
          description: Indicates if a number is ported
          nullable: true
          type: boolean
        roamingNetwork:
          $ref: '#/components/schemas/MobileNetwork'
        currentNetwork:
          $ref: '#/components/schemas/MobileNetwork'
        originalNetwork:
          $ref: '#/components/schemas/MobileNetwork'
        portedNetwork:
          $ref: '#/components/schemas/MobileNetwork'
        status:
          description: Status of the phone number
          enum:
          - "ON"
          - "OFF"
          - INVALID
          - UNKNOWN
          type: string
        error:
          description: Indicates if any error occurred while handling the request
      required:
      - number
      type: object
    SyncNumberLookupSuccess:
      description: A container for number lookup response
      example:
        result:
        - ported: true
          number: number
          roaming: true
          roamingNetwork:
            countryPrefix: countryPrefix
            mccmnc: mccmnc
            countryCode: countryCode
            networkName: networkName
            countryName: countryName
          currentNetwork:
            countryPrefix: countryPrefix
            mccmnc: mccmnc
            countryCode: countryCode
            networkName: networkName
            countryName: countryName
          portedNetwork:
            countryPrefix: countryPrefix
            mccmnc: mccmnc
            countryCode: countryCode
            networkName: networkName
            countryName: countryName
          error: ""
          originalNetwork:
            countryPrefix: countryPrefix
            mccmnc: mccmnc
            countryCode: countryCode
            networkName: networkName
            countryName: countryName
          status: "ON"
        - ported: true
          number: number
          roaming: true
          roamingNetwork:
            countryPrefix: countryPrefix
            mccmnc: mccmnc
            countryCode: countryCode
            networkName: networkName
            countryName: countryName
          currentNetwork:
            countryPrefix: countryPrefix
            mccmnc: mccmnc
            countryCode: countryCode
            networkName: networkName
            countryName: countryName
          portedNetwork:
            countryPrefix: countryPrefix
            mccmnc: mccmnc
            countryCode: countryCode
            networkName: networkName
            countryName: countryName
          error: ""
          originalNetwork:
            countryPrefix: countryPrefix
            mccmnc: mccmnc
            countryCode: countryCode
            networkName: networkName
            countryName: countryName
          status: "ON"
        request_id: request_id
      properties:
        request_id:
          description: ID of the request
          type: string
        result:
          description: A container for phone number info objects
          items:
            $ref: '#/components/schemas/SyncNumberLookupResult'
          type: array
      required:
      - request_id
      - result
      type: object
    NumbersToInvestigate:
      description: A container for phone numbers
      example:
        numbers:
        - numbers
        - numbers
        - numbers
        - numbers
        - numbers
      properties:
        numbers:
          description: A list of phone numbers. Max 10 numbers per request
          items:
            type: string
          maxItems: 10
          minItems: 1
          type: array
      required:
      - numbers
      type: object
    ErrorNumberLookup:
      description: A container for errors
      example:
        errors:
        - error:
            code: 101
            description: description
        - error:
            code: 101
            description: description
      properties:
        errors:
          description: An array of errors
          items:
            $ref: '#/components/schemas/ErrorItemNumberLookup'
          type: array
      required:
      - errors
    ErrorItemNumberLookup:
      description: A container for Number Lookup API error
      example:
        error:
          code: 101
          description: description
      properties:
        error:
          $ref: '#/components/schemas/ErrorItemNumberLookup_error'
      required:
      - error
      type: object
    ErrorCodeNumberLookup:
      description: |-
        Matches the following error title.
          This field is a constant

        * 101 - Unauthorized
        * 102 - Invalid arguments or parameters
        * 103 - Server error
        * 104 - Crediting error #1
        * 105 - Crediting error #2
        * 106 - Client error
      maximum: 106
      minimum: 101
      type: integer
    FetchBlacklistSuccess:
      description: A container for blacklisted numbers
      example:
        phoneNumbers:
        - phoneNumbers
        - phoneNumbers
      properties:
        phoneNumbers:
          description: Array of unique phone numbers
          items:
            type: string
          type: array
          uniqueItems: true
      type: object
    NumberToBlacklist:
      description: A container for a soon-to-be blacklisted number
      example:
        phoneNumber: phoneNumber
      properties:
        phoneNumber:
          description: Phone number in e.164 format
          type: string
      required:
      - phoneNumber
      type: object
    GroupName:
      description: A group name container
      example:
        name: name
      properties:
        name:
          description: The name of the group
          minLength: 1
          type: string
      required:
      - name
      type: object
    GroupResponseFields:
      description: A container for fields of a group
      example:
        name: name
        contactsCount: 0
        id: id
        createdOn: createdOn
      properties:
        id:
          description: Id string in UUID format
          type: string
        name:
          description: The name of the group
          type: string
        createdOn:
          description: When the group was created
          format: '%Y-%m-%dT%H:%M:%S.%fZ'
          nullable: true
          type: string
        contactsCount:
          description: The count of contacts in the group
          type: integer
      required:
      - contactsCount
      - id
      - name
      type: object
    ContactFields:
      description: A container for fields of a request body of a contact
      example:
        firstName: firstName
        lastName: lastName
        phoneNumber: phoneNumber
        custom: custom
        custom3: custom3
        custom4: custom4
        company: company
        custom2: custom2
        title: title
        email: email
      properties:
        phoneNumber:
          description: Phone number in e.164 format
          type: string
        email:
          description: The email of the contact
          nullable: true
          type: string
        firstName:
          description: The first name of the contact
          nullable: true
          type: string
        lastName:
          description: The last name of the contact
          nullable: true
          type: string
        company:
          description: The company of the contact
          nullable: true
          type: string
        title:
          description: The title of the contact
          nullable: true
          type: string
        custom:
          description: The first custom field
          nullable: true
          type: string
        custom2:
          description: The second custom field
          nullable: true
          type: string
        custom3:
          description: The third custom field
          nullable: true
          type: string
        custom4:
          description: The fourth custom field
          nullable: true
          type: string
      required:
      - phoneNumber
      type: object
    ContactResponseFields:
      description: A container for response fields of a contact
      example:
        firstName: firstName
        lastName: lastName
        phoneNumber: phoneNumber
        scheduledDeletionDate: 2000-01-23
        custom: custom
        custom3: custom3
        custom4: custom4
        company: company
        custom2: custom2
        title: title
        email: email
      properties:
        phoneNumber:
          description: Phone number in e.164 format
          type: string
        email:
          description: The email of the contact
          nullable: true
          type: string
        firstName:
          description: The first name of the contact
          nullable: true
          type: string
        lastName:
          description: The last name of the contact
          nullable: true
          type: string
        company:
          description: The company of the contact
          nullable: true
          type: string
        title:
          description: The title of the contact
          nullable: true
          type: string
        custom:
          description: The first custom field
          nullable: true
          type: string
        custom2:
          description: The second custom field
          nullable: true
          type: string
        custom3:
          description: The third custom field
          nullable: true
          type: string
        custom4:
          description: The fourth custom field
          nullable: true
          type: string
        scheduledDeletionDate:
          description: |-
            The date in ISO 8601 format, YYYY-MM-DD,
             on which the contact is going to be deleted
             because it has not belonged to a group for 30 days
          format: date
          nullable: true
          type: string
      type: object
    ContactUpdateFields:
      description: A container for fields of a contact
      example:
        firstName: firstName
        lastName: lastName
        custom: custom
        custom3: custom3
        custom4: custom4
        company: company
        custom2: custom2
        title: title
        email: email
      minProperties: 1
      properties:
        email:
          description: The email of the contact
          nullable: true
          type: string
        firstName:
          description: The first name of the contact
          nullable: true
          type: string
        lastName:
          description: The last name of the contact
          nullable: true
          type: string
        company:
          description: The company of the contact
          nullable: true
          type: string
        title:
          description: The title of the contact
          nullable: true
          type: string
        custom:
          description: The first custom field
          nullable: true
          type: string
        custom2:
          description: The second custom field
          nullable: true
          type: string
        custom3:
          description: The third custom field
          nullable: true
          type: string
        custom4:
          description: The fourth custom field
          nullable: true
          type: string
      type: object
    GroupListEnvelope:
      description: A container for groups
      example:
        groups:
        - name: name
          contactsCount: 0
          id: id
          createdOn: createdOn
        - name: name
          contactsCount: 0
          id: id
          createdOn: createdOn
      properties:
        groups:
          description: An array of groups
          items:
            $ref: '#/components/schemas/GroupResponseFields'
          type: array
          uniqueItems: true
      type: object
    GroupEnvelope:
      description: A container for a group
      example:
        group:
          name: name
          contactsCount: 0
          id: id
          createdOn: createdOn
      properties:
        group:
          $ref: '#/components/schemas/GroupResponseFields'
      type: object
    ContactListEnvelope:
      description: A container for contacts
      example:
        contacts:
        - firstName: firstName
          lastName: lastName
          phoneNumber: phoneNumber
          scheduledDeletionDate: 2000-01-23
          custom: custom
          custom3: custom3
          custom4: custom4
          company: company
          custom2: custom2
          title: title
          email: email
        - firstName: firstName
          lastName: lastName
          phoneNumber: phoneNumber
          scheduledDeletionDate: 2000-01-23
          custom: custom
          custom3: custom3
          custom4: custom4
          company: company
          custom2: custom2
          title: title
          email: email
      properties:
        contacts:
          description: An array of contacts
          items:
            $ref: '#/components/schemas/ContactResponseFields'
          type: array
          uniqueItems: true
      type: object
    ContactEnvelope:
      description: A container for a contact
      example:
        contact:
          firstName: firstName
          lastName: lastName
          phoneNumber: phoneNumber
          scheduledDeletionDate: 2000-01-23
          custom: custom
          custom3: custom3
          custom4: custom4
          company: company
          custom2: custom2
          title: title
          email: email
      properties:
        contact:
          $ref: '#/components/schemas/ContactResponseFields'
      type: object
    EmptyObject:
      description: An object containing no properties
      type: object
    ErrorCodePhonebook:
      description: |-
        Matches the following error title.
          This field is a constant

          * 201 - Invalid data
          * 202 - Unauthorized
          * 203 - Missing resource
          * 204 - Conflict
          * 244 - Client error
          * 205 - General error
      enum:
      - "201"
      - "202"
      - "203"
      - "204"
      - "244"
      - "205"
      type: string
    ErrorTitlePhonebook:
      description: Textual value which corresponds to an error code
      enum:
      - Invalid data
      - Unauthorized
      - Missing resource
      - Conflict
      - Client error
      - General error
      type: string
    ErrorPhonebook:
      description: A container for errors
      example:
        errors:
        - code: "201"
          detail: detail
          title: Invalid data
        - code: "201"
          detail: detail
          title: Invalid data
      properties:
        errors:
          description: An array of errors
          items:
            $ref: '#/components/schemas/ErrorItemPhonebook'
          type: array
      required:
      - errors
    ErrorItemPhonebook:
      description: A container for Phonebook API error
      example:
        code: "201"
        detail: detail
        title: Invalid data
      properties:
        title:
          $ref: '#/components/schemas/ErrorTitlePhonebook'
        detail:
          description: Free form more detailed description of the error
          type: string
        code:
          $ref: '#/components/schemas/ErrorCodePhonebook'
      required:
      - code
      - detail
      - title
      type: object
    OmniMessageCreateSuccessResponse:
      description: A container for a response received after successfully created
        omnimessage
      example:
        messages:
        - sender: sender
          channel: sms
          message_id: message_id
        - sender: sender
          channel: sms
          message_id: message_id
        to: to
        omnimessage_id: omnimessage_id
      properties:
        messages:
          description: List of messages that compose the omnimessage
          items:
            $ref: '#/components/schemas/MessageResult'
          type: array
        to:
          description: Phone number in e.164 format
          type: string
        omnimessage_id:
          description: Unique identifier for the omnimessage
          format: UUID
          type: string
      required:
      - messages
      - omnimessage_id
      - to
      type: object
    MessageResult:
      description: A message part of an omnimessage
      example:
        sender: sender
        channel: sms
        message_id: message_id
      properties:
        message_id:
          description: Unique identifier for the message
          format: UUID
          type: string
        channel:
          $ref: '#/components/schemas/Channel'
        sender:
          description: Sender that was used for the message
          type: string
      required:
      - channel
      - message_id
      - sender
      type: object
    Channel:
      description: Defines the delivery channel
      enum:
      - sms
      - viber
      - whatsapp
      - telegram
      type: string
    Omnimessage:
      description: An omnimessage
      example:
        text_store: nostore
        time_to_send: 2000-01-23T04:56:07.000+00:00
        dlr_url: http://example.com/aeiou
        messages:
        - sender: sender
          image_url: image_url
          button_url: button_url
          channel: viber
          validity: 360
          text: text
          button_text: button_text
          video:
            duration: 6
            thumbnail: thumbnail
            url: url
            file_size: 0
          ttl: 21600
        - sender: sender
          image_url: image_url
          button_url: button_url
          channel: viber
          validity: 360
          text: text
          button_text: button_text
          video:
            duration: 6
            thumbnail: thumbnail
            url: url
            file_size: 0
          ttl: 21600
        to: to
        priority: low
      properties:
        to:
          description: Phone number in e.164 format
          type: string
        messages:
          description: An array of messages
          items:
            $ref: '#/components/schemas/Omnimessage_messages_inner'
          type: array
        dlr_url:
          description: URL where the delivery report will be sent
          format: url
          type: string
        text_store:
          $ref: '#/components/schemas/TextStore'
        time_to_send:
          description: |-
            Optional parameter for sending messages at some specific time in the future.
              Time must be specified in the ISO-8601 format.
              If no timezone is specified, then the timezone is assumed to be UTC

              Examples:

              * Time specified with timezone: 2018-06-22T09:05:07+00:00 Time specified in UTC: 2018-06-22T09:05:07Z
              * Time specified without timezone: 2018-06-22T09:05 (equivalent to 2018-06-22T09:05+00:00)
          format: date-time
          type: string
        priority:
          $ref: '#/components/schemas/Priority'
      required:
      - messages
      - to
      type: object
    TextStore:
      description: "Whether to store message content as is (plaintext), as a hashed\
        \ value (sha256) or not at all (nostore)"
      enum:
      - nostore
      - plaintext
      - sha256
      type: string
    Priority:
      description: |-
        Set the priority of the message.
          Messages are processed starting with in highest priority queue first and lowest priority queue last.
          This for example allows to prioritize OTP messages over marketing traffic.
      enum:
      - low
      - regular
      - high
      type: string
    Viber:
      description: Viber message content
      example:
        sender: sender
        image_url: image_url
        button_url: button_url
        channel: viber
        validity: 360
        text: text
        button_text: button_text
        video:
          duration: 6
          thumbnail: thumbnail
          url: url
          file_size: 0
        ttl: 21600
      properties:
        sender:
          description: Phone number or alphanumeric sender name
          type: string
        validity:
          description: |-
            After how many minutes this channel is considered as failed and the next channel is attempted.
                  Only one of "ttl" and "validity" can be used.
          example: 360
          type: integer
        ttl:
          description: |-
            After how many seconds this channel is considered as failed and the next channel is attempted.
                  Only one of "ttl" and "validity" can be used.
          example: 21600
          type: integer
        text:
          description: Plaintext content for Viber
          type: string
        image_url:
          description: |-
            URL for the embedded image

              Valid combinations:

              1) image_url,

              2) text, image_url, button_url, button_text
          type: string
        button_url:
          description: "URL of the button, must be specified along with ''text'',\
            \ ''button_text'' and ''image_url'' (optional)"
          type: string
        button_text:
          description: "Must be specified along with ''text'', ''button_url'', ''button_text'',\
            \ ''image_url'' (optional)"
          type: string
        channel:
          default: viber
          description: The channel used to deliver the message
          enum:
          - viber
          type: string
        video:
          $ref: '#/components/schemas/ViberVideo'
      type: object
    ViberVideo:
      description: Viber video object
      example:
        duration: 6
        thumbnail: thumbnail
        url: url
        file_size: 0
      properties:
        url:
          description: URL pointing to the video resource.
          type: string
        thumbnail:
          description: URL pointing to the video thumbnail resource.
          type: string
        file_size:
          description: Size of the video file in bytes. Cannot be larger than 200MB.
          type: integer
        duration:
          description: Duration of the video in seconds. Cannot be longer than 600
            seconds.
          type: integer
      required:
      - duration
      - file_size
      - thumbnail
      - url
      type: object
    WhatsApp:
      description: |-
        WhatsApp message content.
          Only one of "text", "image", "document" or "audio" can be provided
      properties:
        sender:
          description: Phone number or alphanumeric sender name
          type: string
        validity:
          description: |-
            After how many minutes this channel is
              considered as failed and the next channel is attempted
          example: 360
          type: integer
        ttl:
          description: |-
            After how many seconds this channel is considered as failed and the next channel is attempted.
                  Only one of "ttl" and "validity" can be used.
          example: 21600
          type: integer
        template:
          $ref: '#/components/schemas/WhatsAppTemplate'
        channel:
          default: whatsapp
          description: The channel used to deliver the message
          enum:
          - whatsapp
          type: string
        text:
          $ref: '#/components/schemas/WhatsAppText'
        image:
          $ref: '#/components/schemas/WhatsAppImage'
        video:
          $ref: '#/components/schemas/WhatsAppVideo'
        audio:
          $ref: '#/components/schemas/WhatsAppAudio'
        document:
          $ref: '#/components/schemas/WhatsAppDocument'
        sticker:
          $ref: '#/components/schemas/WhatsAppSticker'
      type: object
    Telegram:
      description: Telegram message content
      properties:
        sender:
          description: Phone number or alphanumeric sender name
          type: string
        validity:
          description: After how many minutes this channel is considered as failed
            and the next channel is attempted
          example: 360
          type: integer
        text:
          description: Plaintext content for Telegram
          type: string
        image_url:
          description: URL for the embedded image. Mutually exclusive with "document_url"
            and "audio_url"
          type: string
        document_url:
          description: URL for the embedded image. Mutually exclusive with "audio_url"
            and "image_url"
          type: string
        audio_url:
          description: URL for the embedded image. Mutually exclusive with "document_url"
            and "image_url"
          type: string
        channel:
          default: telegram
          description: The channel used to deliver the message
          enum:
          - telegram
          type: string
      type: object
    SMS:
      description: SMS message content
      properties:
        text:
          description: Text content of the SMS
          example: Hello world!
          type: string
        sender:
          description: Phone number or alphanumeric sender name
          type: string
        validity:
          description: |-
            After how many minutes this channel is considered as failed and the next channel is attempted.
                                Only one of "ttl" and "validity" can be used.
          example: 360
          type: integer
        ttl:
          description: |-
            After how many seconds this channel is considered as failed and the next channel is attempted.
                                Only one of "ttl" and "validity" can be used.
          example: 21600
          type: integer
        autoconvert:
          description: |-
            Defines how non-GSM characters will be treated:

              - "on" Use replacement settings from the account's [API Auto Replace settings page](https://dashboard.messente.com/api-settings/auto-replace) (default)
              - "full" All non GSM 03.38 characters will be replaced with suitable alternatives
              - "off" Message content is not modified in any way
          enum:
          - full
          - "on"
          - "off"
          type: string
        udh:
          description: hex-encoded string containing SMS UDH
          type: string
        channel:
          default: sms
          description: The channel used to deliver the message
          enum:
          - sms
          type: string
      required:
      - text
      type: object
    WhatsAppCurrency:
      description: Whatsapp currency object.
      properties:
        fallback_value:
          description: Default text if localization fails.
          type: string
        code:
          description: Currency code as defined in ISO 4217.
          type: string
        amount_1000:
          description: Amount multiplied by 1000.
          type: string
      required:
      - amount_1000
      - code
      - fallback_value
      type: object
    WhatsAppTemplate:
      description: Whatsapp Cloud API template
      properties:
        name:
          description: Name of the template
          type: string
        language:
          $ref: '#/components/schemas/WhatsAppLanguage'
        components:
          description: List of template components
          items:
            $ref: '#/components/schemas/WhatsAppComponent'
          type: array
      required:
      - components
      - language
      - name
      type: object
    WhatsAppLanguage:
      description: Whatsapp template language
      properties:
        code:
          description: Language code
          type: string
        policy:
          description: Language policy
          type: string
      required:
      - code
      type: object
    WhatsAppComponent:
      description: Whatsapp template component
      properties:
        type:
          description: Type of the component
          type: string
        sub_type:
          description: Sub-type of the component
          type: string
        index:
          description: index used to position buttons
          nullable: true
          type: integer
        parameters:
          description: List of parameters for the component
          items:
            $ref: '#/components/schemas/WhatsAppParameter'
          type: array
      required:
      - type
      type: object
    WhatsAppDatetime:
      description: Whatsapp datetime object.
      properties:
        fallback_value:
          description: Default text.
          type: string
      required:
      - fallback_value
      type: object
    WhatsAppMedia:
      description: Whatsapp media object.
      properties:
        id:
          description: The media object ID. Do not use this field when message type
            is set to text.
          type: string
        link:
          description: |-
            The protocol and URL of the media to be sent. Use only with HTTP/HTTPS URLs.
                  Do not use this field when message type is set to text.
          type: string
        caption:
          description: Media asset caption. Do not use with audio or sticker media.
          type: string
        filename:
          description: Describes the filename for the specific document. Use only
            with document media.
          type: string
      type: object
    WhatsAppParameter:
      description: Whatsapp component parameter.
      properties:
        type:
          description: Type of the parameter.
          type: string
        text:
          description: A text.
          type: string
        currency:
          $ref: '#/components/schemas/WhatsAppCurrency'
        date_time:
          $ref: '#/components/schemas/WhatsAppDatetime'
        image:
          $ref: '#/components/schemas/WhatsAppMedia'
        document:
          $ref: '#/components/schemas/WhatsAppMedia'
        video:
          $ref: '#/components/schemas/WhatsAppMedia'
        coupon_code:
          description: A coupon code.
          type: string
        payload:
          description: A payload.
          type: string
      required:
      - type
      type: object
    WhatsAppText:
      description: A text
      properties:
        preview_url:
[...]
