openapi: 3.0.0
info:
  contact:
    email: messente@messente.com
    name: Messente
    url: https://messente.com
  description: "[Messente](https://messente.com) is a global provider of messaging\
    \ and user verification services.\n\n* Send and receive SMS, Viber, WhatsApp and\
    \ Telegram messages.\n* Manage contacts and groups.\n* Fetch detailed info about\
    \ phone numbers.\n* Blacklist phone numbers to make sure you're not sending any\
    \ unwanted messages.\n\nMessente builds [tools](https://messente.com/documentation)\
    \ to help organizations connect their services to people anywhere in the world."
  license:
    name: Apache-2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://messente.com/terms-and-conditions
  title: Messente API
  version: 2.0.0
externalDocs:
  description: More documentation
  url: https://messente.com/documentation
servers:
- url: https://api.messente.com/v1
security:
- basicAuth: []
tags:
- description: "Blacklist is a list of numbers that is tied to one specific account.\n\
    All messages sent using any API credentials from this account, are passed through\
    \ this list.\nIf the number is in the list, the message is not sent.\nIt applies\
    \ both to API calls and messages sent from the Dashboard."
  name: Blacklist
- description: "Every contact in the Phonebook may belong to one or many Groups, which\
    \ makes it easy to send targeted messages just by selecting the Groups you want.\n\
    \nYou can think of Groups also as Labels that each Contacts can have.\n\nWhen\
    \ sending message to multiple groups, Messente only sends one message per Contact.\
    \ This means you can send messages without having to worry about duplicate messages\
    \ being sent.\n\nUsing the Phonebook API you can\n\n* Select Contacts and filter\
    \ by Groups\n* Fetch Contact details\n* Create a new Contact\n* Update an existing\
    \ Contacts\n* Add or remove a Contact from a Group\n* Delete a Contact"
  name: Contacts
- description: "Every contact in the Phonebook may belong to one or many Groups, which\
    \ makes it easy to send targeted messages just by selecting the Groups you want.\n\
    \nYou can think of Groups also as Labels that each Contacts can have.\n\nWhen\
    \ sending message to multiple groups, Messente only sends one message per Contact.\
    \ This means you can send messages without having to worry about duplicate messages\
    \ being sent.\n\nUsing the Phonebook API you can\n\n* List all Groups\n* Create\
    \ a new Group\n* Update an existing Group\n* Delete a Group"
  name: Groups
- description: Send an omnimessage to a phone number with fallback options for various
    channels
  name: Omnimessage
- description: Retrieve delivery reports which indicate whether the message was delivered
  name: Delivery Report
- description: Find out statuses and network info of phone numbers
  name: Number Lookup
- description: Get total messages and price per country
  name: Statistics
paths:
  /hlr/sync:
    post:
      operationId: fetchInfo
      requestBody:
        content:
          application/json:
            example:
              numbers:
              - +37251000000
              - +37251000001
            schema:
              $ref: '#/components/schemas/NumbersToInvestigate'
        description: Numbers for lookup
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                request_id: d50fbe61-053d-46b1-b452-f64ef38d2247
                result:
                - number: +37251000000
                  roaming: null
                  roamingNetwork: null
                  currentNetwork: null
                  originalNetwork: null
                  portedNetwork: null
                  ported: null
                  status: INVALID
                - number: +37251000001
                  roaming: false
                  roamingNetwork: null
                  currentNetwork:
                    countryCode: EST
                    countryPrefix: "372"
                    countryName: Estonia
                    networkName: Any Company
                    mccmnc: "11111"
                  originalNetwork:
                    countryCode: EST
                    countryPrefix: "372"
                    countryName: Estonia
                    networkName: Any Company
                    mccmnc: "11111"
                  portedNetwork: null
                  ported: false
                  status: "ON"
              schema:
                $ref: '#/components/schemas/SyncNumberLookupSuccess'
          description: Info about phone numbers returned
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNumberLookup'
          description: Invalid request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNumberLookup'
          description: Unauthorized
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNumberLookup'
          description: Failed crediting
      summary: Requests info about phone numbers
      tags:
      - Number Lookup
      x-content-type: application/json
      x-accepts: application/json
  /omnimessage:
    post:
      operationId: sendOmnimessage
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Omnimessage'
        description: Omnimessage to be sent
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OmniMessageCreateSuccessResponse'
          description: Omnimessage success response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorOmnichannel'
          description: Invalid input
      summary: Sends an Omnimessage
      tags:
      - Omnimessage
      x-content-type: application/json
      x-accepts: application/json
  /omnimessage/{omnimessageId}/status:
    get:
      operationId: retrieveDeliveryReport
      parameters:
      - description: UUID of the omnimessage to for which the delivery report is to
          be retrieved
        explode: false
        in: path
        name: omnimessageId
        required: true
        schema:
          format: UUID
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeliveryReportResponse'
          description: Delivery report success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorOmnichannel'
          description: If no such message exists or you do not have access to the
            particular message
      summary: Retrieves the delivery report for the Omnimessage
      tags:
      - Delivery Report
      x-accepts: application/json
  /omnimessage/{omnimessageId}:
    delete:
      operationId: cancelScheduledMessage
      parameters:
      - description: UUID of the scheduled omnimessage to be cancelled
        explode: false
        in: path
        name: omnimessageId
        required: true
        schema:
          format: UUID
          type: string
        style: simple
      responses:
        "202":
          content:
            application/json:
              example: {}
              schema:
                $ref: '#/components/schemas/EmptyObject'
          description: Scheduled omnimessage successfully cancelled
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorOmnichannel'
          description: If the omnimessage has already been sent or no such message
            exists
      summary: Cancels a scheduled Omnimessage
      tags:
      - Omnimessage
      x-accepts: application/json
  /phonebook/blacklist:
    get:
      operationId: fetchBlacklist
      responses:
        "200":
          content:
            application/json:
              example:
                phoneNumbers:
                - +37251000000
                - +37251000001
              schema:
                $ref: '#/components/schemas/FetchBlacklistSuccess'
          description: An object containing a list of blacklisted phone numbers
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Unauthorized
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: General error
      summary: Returns all blacklisted phone numbers
      tags:
      - Blacklist
      x-accepts: application/json
    post:
      operationId: addToBlacklist
      requestBody:
        content:
          application/json:
            example:
              phoneNumber: +37251000000
            schema:
              $ref: '#/components/schemas/NumberToBlacklist'
        description: Phone number to be blacklisted
        required: true
      responses:
        "204":
          description: Phone number added to the blacklist
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Invalid phone number provided
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Unauthorized
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Phone number already blacklisted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: General error
      summary: Adds a phone number to the blacklist
      tags:
      - Blacklist
      x-content-type: application/json
      x-accepts: application/json
  /phonebook/blacklist/{phone}:
    delete:
      operationId: deleteFromBlacklist
      parameters:
      - description: A phone number
        example: +37251000000
        explode: false
        in: path
        name: phone
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Phone number deleted from the blacklist
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Invalid phone number provided
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Phone number is not in the blacklist
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: General error
      summary: Deletes a phone number from the blacklist
      tags:
      - Blacklist
      x-accepts: application/json
    get:
      operationId: isBlacklisted
      parameters:
      - description: A phone number
        example: +37251000000
        explode: false
        in: path
        name: phone
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Phone number is in the blacklist
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Invalid phone number provided
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Phone number is not in the blacklist
      summary: Checks if a phone number is blacklisted
      tags:
      - Blacklist
      x-accepts: application/json
  /phonebook/contacts/{phone}:
    delete:
      operationId: deleteContact
      parameters:
      - description: A phone number
        example: +37251000000
        explode: false
        in: path
        name: phone
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Contact deleted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Invalid phone number provided
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Contact missing
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: General error
      summary: Deletes a contact
      tags:
      - Contacts
      x-accepts: application/json
    get:
      operationId: fetchContact
      parameters:
      - description: A phone number
        example: +37251000000
        explode: false
        in: path
        name: phone
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                contact:
                  phoneNumber: +37251000000
                  email: anyone@messente.com
                  firstName: Any
                  lastName: One
                  company: Messente
                  title: Sir
                  custom: Any custom
                  custom2: Any custom two
                  custom3: Any custom three
                  custom4: Any custom four
                  scheduledDeletionDate: 2020-08-31
              schema:
                $ref: '#/components/schemas/ContactEnvelope'
          description: An object containing a contact object
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Invalid phone number provided
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Contact missing
      summary: Lists a contact
      tags:
      - Contacts
      x-accepts: application/json
    patch:
      operationId: updateContact
      parameters:
      - description: A phone number
        example: +37251000000
        explode: false
        in: path
        name: phone
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              email: anyone@messente.com
              firstName: Any
              lastName: One
              company: Messente
              title: Sir
              custom: Any custom
              custom2: Any custom two
              custom3: Any custom three
              custom4: Any custom four
            schema:
              $ref: '#/components/schemas/ContactUpdateFields'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                contact:
                  phoneNumber: +37251000000
                  email: anyone@messente.com
                  firstName: Any
                  lastName: One
                  company: Messente
                  title: Sir
                  custom: Any custom
                  custom2: Any custom two
                  custom3: Any custom three
                  custom4: Any custom four
                  scheduledDeletionDate: 2020-08-31
              schema:
                $ref: '#/components/schemas/ContactEnvelope'
          description: An object containing a contact object
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Invalid phone number or empty patch body or unknown fields
            provided
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Contact missing
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: General error
      summary: Updates a contact
      tags:
      - Contacts
      x-content-type: application/json
      x-accepts: application/json
  /phonebook/contacts/{phone}/groups:
    get:
      operationId: fetchContactGroups
      parameters:
      - description: A phone number
        example: +37251000000
        explode: false
        in: path
        name: phone
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                groups:
                - contactsCount: 1
                  name: Any group name
                  id: 5792a02a-e5c2-422b-a0a0-0ae65d814663
                  createdOn: 2019-04-22T11:46:23.753613Z
              schema:
                $ref: '#/components/schemas/GroupListEnvelope'
          description: An object containing a list of group objects
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Invalid phone number provided
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Contact missing
      summary: Lists groups of a contact
      tags:
      - Contacts
      x-accepts: application/json
  /phonebook/contacts:
    get:
      operationId: fetchContacts
      parameters:
      - description: "Optional one or many group id strings in UUID format.\nFor example:\
          \ \"/contacts?groupIds=group_id_one&groupIds=group_id_two\"\n"
        example:
        - 5792a02a-e5c2-422b-a0a0-0ae65d814663
        - 4792a02a-e5c2-422b-a0a0-0ae65d814662
        explode: true
        in: query
        name: groupIds
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                contacts:
                - phoneNumber: +37251000000
                  email: anyone@messente.com
                  firstName: Any
                  lastName: One
                  company: Messente
                  title: Sir
                  custom: Any custom
                  custom2: Any custom two
                  custom3: Any custom three
                  custom4: Any custom four
                  scheduledDeletionDate: 2020-08-31
              schema:
                $ref: '#/components/schemas/ContactListEnvelope'
          description: An object containing a list of contact objects
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Invalid "groupIds" parameters provided
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Unauthorized
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: General error
      summary: Returns all contacts
      tags:
      - Contacts
      x-accepts: application/json
    post:
      operationId: createContact
      requestBody:
        content:
          application/json:
            example:
              phoneNumber: +37251000000
              email: anyone@messente.com
              firstName: Any
              lastName: One
              company: Messente
              title: Sir
              custom: Any custom
              custom2: Any custom two
              custom3: Any custom three
              custom4: Any custom four
            schema:
              $ref: '#/components/schemas/ContactFields'
        required: true
      responses:
        "201":
          content:
            application/json:
              example:
                contact:
                  phoneNumber: +37251000000
                  email: anyone@messente.com
                  firstName: Any
                  lastName: One
                  company: Messente
                  title: Sir
                  custom: Any custom
                  custom2: Any custom two
                  custom3: Any custom three
                  custom4: Any custom four
                  scheduledDeletionDate: 2020-08-31
              schema:
                $ref: '#/components/schemas/ContactEnvelope'
          description: An object containing a contact object
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Invalid phone number provided
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Unauthorized
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Contact with phone already created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: General error
      summary: Creates a new contact
      tags:
      - Contacts
      x-content-type: application/json
      x-accepts: application/json
  /phonebook/groups/{groupId}:
    delete:
      operationId: deleteGroup
      parameters:
      - description: String in UUID format
        example: 5792a02a-e5c2-422b-a0a0-0ae65d814663
        explode: false
        in: path
        name: groupId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Group deleted
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Group missing
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: General error
      summary: Deletes a group
      tags:
      - Groups
      x-accepts: application/json
    get:
      operationId: fetchGroup
      parameters:
      - description: String in UUID format
        example: 5792a02a-e5c2-422b-a0a0-0ae65d814663
        explode: false
        in: path
        name: groupId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                group:
                  contactsCount: 1
                  name: Any group name
                  id: 5792a02a-e5c2-422b-a0a0-0ae65d814663
                  createdOn: 2019-04-22T11:46:23.753613Z
              schema:
                $ref: '#/components/schemas/GroupEnvelope'
          description: An object containing a group object
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Missing group
      summary: Lists a group
      tags:
      - Groups
      x-accepts: application/json
    put:
      operationId: updateGroup
      parameters:
      - description: String in UUID format
        example: 5792a02a-e5c2-422b-a0a0-0ae65d814663
        explode: false
        in: path
        name: groupId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              name: Any group name
            schema:
              $ref: '#/components/schemas/GroupName'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                group:
                  contactsCount: 1
                  name: Any group name
                  id: 5792a02a-e5c2-422b-a0a0-0ae65d814663
                  createdOn: 2019-04-22T11:46:23.753613Z
              schema:
                $ref: '#/components/schemas/GroupEnvelope'
          description: An object containing a group object
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Name is invalid string or shorter than length 1
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Group missing
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: General error
      summary: Updates a group with the provided name
      tags:
      - Groups
      x-content-type: application/json
      x-accepts: application/json
  /phonebook/groups/{groupId}/contacts/{phone}:
    delete:
      operationId: removeContactFromGroup
      parameters:
      - description: String in UUID format
        example: 5792a02a-e5c2-422b-a0a0-0ae65d814663
        explode: false
        in: path
        name: groupId
        required: true
        schema:
          type: string
        style: simple
      - description: A phone number
        example: +37251000000
        explode: false
        in: path
        name: phone
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Contact removed from group
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Invalid phone number provided
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Contact or group is missing or contact is missing from group
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: General error
      summary: Removes a contact from a group
      tags:
      - Contacts
      x-accepts: application/json
    post:
      operationId: addContactToGroup
      parameters:
      - description: String in UUID format
        example: 5792a02a-e5c2-422b-a0a0-0ae65d814663
        explode: false
        in: path
        name: groupId
        required: true
        schema:
          type: string
        style: simple
      - description: A phone number
        example: +37251000000
        explode: false
        in: path
        name: phone
        required: true
        schema:
          type: string
        style: simple
      responses:
        "201":
          content:
            application/json:
              example: {}
              schema:
                $ref: '#/components/schemas/EmptyObject'
          description: An empty object
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Invalid phone number provided
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Contact or group is missing
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Contact already added to group
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: General error
      summary: Adds a contact to a group
      tags:
      - Contacts
      x-accepts: application/json
  /phonebook/groups:
    get:
      operationId: fetchGroups
      responses:
        "200":
          content:
            application/json:
              example:
                groups:
                - contactsCount: 1
                  name: Any group name
                  id: 5792a02a-e5c2-422b-a0a0-0ae65d814663
                  createdOn: 2019-04-22T11:46:23.753613Z
              schema:
                $ref: '#/components/schemas/GroupListEnvelope'
          description: An object containing a list of group objects
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Unauthorized
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: General error
      summary: Returns all groups
      tags:
      - Groups
      x-accepts: application/json
    post:
      operationId: createGroup
      requestBody:
        content:
          application/json:
            example:
              name: Any group name
            schema:
              $ref: '#/components/schemas/GroupName'
        required: true
      responses:
        "201":
          content:
            application/json:
              example:
                group:
                  contactsCount: 1
                  name: Any group name
                  id: 5792a02a-e5c2-422b-a0a0-0ae65d814663
                  createdOn: 2019-04-22T11:46:23.753613Z
              schema:
                $ref: '#/components/schemas/GroupEnvelope'
          description: An object containing a group object
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Name is invalid string or shorter than length 1
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: Unauthorized
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPhonebook'
          description: General error
      summary: Creates a new group with the provided name
      tags:
      - Groups
      x-content-type: application/json
      x-accepts: application/json
  /statistics/reports:
    post:
      operationId: createStatisticsReport
      requestBody:
        content:
          application/json:
            example:
              start_date: 2017-01-01
              end_date: 2019-06-20
              message_types:
              - sms
            schema:
              $ref: '#/components/schemas/StatisticsReportSettings'
        description: Settings for statistics report
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                reports:
                - total_messages: 1483
                  total_price: "0.00200"
                  country: Estonia
                - total_messages: 1356
                  total_price: "0.06500"
                  country: Finland
                - total_messages: 1586
                  total_price: "70.26100"
                  country: Spain
              schema:
                $ref: '#/components/schemas/StatisticsReportSuccess'
          description: Created reports by countries
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorStatistics'
          description: Client Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorStatistics'
          description: Unauthorized
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorStatistics'
          description: Invalid data
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorStatistics'
          description: Internal Server Error
      summary: Requests statistics reports for each country
      tags:
      - Statistics
      x-content-type: application/json
      x-accepts: application/json
components:
  schemas:
    StatisticsReport:
      description: Report for one country
      example:
        country: country
        total_price: total_price
        total_messages: 0
      properties:
        total_messages:
          description: Sum of all messages
          type: integer
        total_price:
          description: Price for all messages
          type: string
        country:
          description: Target country of all messages
          type: string
      required:
      - country
      - total_messages
      - total_price
      type: object
    StatisticsReportSuccess:
      description: A container for statistics reports
      example:
        reports:
        - country: country
          total_price: total_price
          total_messages: 0
        - country: country
          total_price: total_price
          total_messages: 0
      properties:
        reports:
          description: Array of report objects
          items:
            $ref: '#/components/schemas/StatisticsReport'
          type: array
      required:
      - reports
      type: object
    StatisticsReportSettings:
      description: A container for statistics report settings
      example:
        end_date: 2000-01-23
        start_date: 2000-01-23
        message_types:
        - message_types
        - message_types
      properties:
        start_date:
          description: Start date for the report
          format: date
          type: string
        end_date:
          description: End date for the report
          format: date
          type: string
        message_types:
          description: "Optional list of message types (sms, viber, whatsapp, hlr,\
            \ telegram)"
          items:
            type: string
          type: array
      required:
      - end_date
      - start_date
      type: object
    ErrorStatistics:
      description: A container for errors
      properties:
        errors:
          description: An array of errors
          items:
            $ref: '#/components/schemas/ErrorItemStatistics'
          type: array
      required:
      - errors
    ErrorItemStatistics:
      description: Error fields container
      properties:
        title:
          description: Error title
          type: string
        details:
          description: Error details
          type: string
        code:
          $ref: '#/components/schemas/ErrorCodeStatistics'
      required:
      - code
      - details
      - title
      type: object
    ErrorCodeStatistics:
      description: |-
        Matches the following error title.
          This field is a constant

        * 100 - Client Error
        * 103 - Unauthorized
        * 104 - Invalid data
        * 105 - Internal Server Error
      enum:
      - "100"
      - "103"
      - "104"
      - "105"
      type: string
    MobileNetwork:
      description: Info about the network related to the phone number
      example:
        countryPrefix: countryPrefix
        mccmnc: mccmnc
        countryCode: countryCode
        networkName: networkName
        countryName: countryName
      nullable: true
      properties:
        mccmnc:
          description: Mobile country and mobile network code
          type: string
        networkName:
          description: Mobile network name
          type: string
        countryName:
          description: Country name
          type: string
        countryPrefix:
          description: Country prefix
          type: string
        countryCode:
          description: Country code
          type: string
      type: object
    SyncNumberLookupResult:
      description: Info about a phone number
      example:
        ported: true
        number: number
        roaming: true
        roamingNetwork:
          countryPrefix: countryPrefix
          mccmnc: mccmnc
          countryCode: countryCode
          networkName: networkName
          countryName: countryName
        currentNetwork:
          countryPrefix: countryPrefix
          mccmnc: mccmnc
          countryCode: countryCode
          networkName: networkName
          countryName: countryName
        portedNetwork:
          countryPrefix: countryPrefix
          mccmnc: mccmnc
          countryCode: countryCode
          networkName: networkName
          countryName: countryName
        error: ""
        originalNetwork:
          countryPrefix: countryPrefix
          mccmnc: mccmnc
          countryCode: countryCode
          networkName: networkName
          countryName: countryName
        status: "ON"
      properties:
        number:
          description: Phone number in e.164 format
          type: string
        roaming:
          description: Indicates if a number is roaming
          nullable: true
          type: boolean
        ported:
          description: Indicates if a number is ported
          nullable: true
          type: boolean
        roamingNetwork:
          $ref: '#/components/schemas/MobileNetwork'
        currentNetwork:
          $ref: '#/components/schemas/MobileNetwork'
        originalNetwork:
          $ref: '#/components/schemas/MobileNetwork'
        portedNetwork:
          $ref: '#/components/schemas/MobileNetwork'
        status:
          description: Status of the phone number
          enum:
          - "ON"
          - "OFF"
          - INVALID
          - UNKNOWN
          type: string
        error:
          description: Indicates if any error occurred while handling the request
      required:
      - number
      type: object
    SyncNumberLookupSuccess:
      description: A container for number lookup response
      example:
        result:
        - ported: true
          number: number
          roaming: true
          roamingNetwork:
            countryPrefix: countryPrefix
            mccmnc: mccmnc
            countryCode: countryCode
            networkName: networkName
            countryName: countryName
          currentNetwork:
            countryPrefix: countryPrefix
            mccmnc: mccmnc
            countryCode: countryCode
            networkName: networkName
            countryName: countryName
          portedNetwork:
            countryPrefix: countryPrefix
            mccmnc: mccmnc
            countryCode: countryCode
            networkName: networkName
            countryName: countryName
          error: ""
          originalNetwork:
            countryPrefix: countryPrefix
            mccmnc: mccmnc
            countryCode: countryCode
            networkName: networkName
            countryName: countryName
          status: "ON"
        - ported: true
          number: number
          roaming: true
          roamingNetwork:
            countryPrefix: countryPrefix
            mccmnc: mccmnc
            countryCode: countryCode
            networkName: networkName
            countryName: countryName
          currentNetwork:
            countryPrefix: countryPrefix
            mccmnc: mccmnc
            countryCode: countryCode
            networkName: networkName
            countryName: countryName
          portedNetwork:
            countryPrefix: countryPrefix
            mccmnc: mccmnc
            countryCode: countryCode
            networkName: networkName
            countryName: countryName
          error: ""
          originalNetwork:
            countryPrefix: countryPrefix
            mccmnc: mccmnc
            countryCode: countryCode
            networkName: networkName
            countryName: countryName
          status: "ON"
        request_id: request_id
      properties:
        request_id:
          description: ID of the request
          type: string
        result:
          description: A container for phone number info objects
          items:
            $ref: '#/components/schemas/SyncNumberLookupResult'
          type: array
      required:
      - request_id
      - result
      type: object
    NumbersToInvestigate:
      description: A container for phone numbers
      example:
        numbers:
        - numbers
        - numbers
        - numbers
        - numbers
        - numbers
      properties:
        numbers:
          description: A list of phone numbers. Max 10 numbers per request
          items:
            type: string
          maxItems: 10
          minItems: 1
          type: array
      required:
      - numbers
      type: object
    ErrorNumberLookup:
      description: A container for errors
      properties:
        errors:
          description: An array of errors
          items:
            $ref: '#/components/schemas/ErrorItemNumberLookup'
          type: array
      required:
      - errors
    ErrorItemNumberLookup:
      description: A container for Number Lookup API error
      properties:
        error:
          $ref: '#/components/schemas/ErrorItemNumberLookup_error'
      required:
      - error
      type: object
    ErrorCodeNumberLookup:
      description: "Matches the following error title.\n  This field is a constant\n\
        \n* 101 - Unauthorized\n* 102 - Invalid arguments or parameters\n* 103 - Server\
        \ error\n* 104 - Crediting error #1\n* 105 - Crediting error #2\n* 106 - Client\
        \ error"
      maximum: 106
      minimum: 101
      type: integer
    FetchBlacklistSuccess:
      description: A container for blacklisted numbers
      example:
        phoneNumbers:
        - phoneNumbers
        - phoneNumbers
      properties:
        phoneNumbers:
          description: Array of unique phone numbers
          items:
            type: string
          type: array
          uniqueItems: true
      type: object
    NumberToBlacklist:
      description: A container for a soon-to-be blacklisted number
      example:
        phoneNumber: phoneNumber
      properties:
        phoneNumber:
          description: Phone number in e.164 format
          type: string
      required:
      - phoneNumber
      type: object
    GroupName:
      description: A group name container
      example:
        name: name
      properties:
        name:
          description: The name of the group
          minLength: 1
          type: string
      required:
      - name
      type: object
    GroupResponseFields:
      description: A container for fields of a group
      example:
        name: name
        contactsCount: 0
        id: id
        createdOn: createdOn
      properties:
        id:
          description: Id string in UUID format
          type: string
        name:
          description: The name of the group
          type: string
        createdOn:
          description: When the group was created
          format: '%Y-%m-%dT%H:%M:%S.%fZ'
          nullable: true
          type: string
        contactsCount:
          description: The count of contacts in the group
          type: integer
      required:
      - contactsCount
      - id
      - name
      type: object
    ContactFields:
      description: A container for fields of a request body of a contact
      example:
        firstName: firstName
        lastName: lastName
        phoneNumber: phoneNumber
        custom: custom
        custom3: custom3
        custom4: custom4
        company: company
        custom2: custom2
        title: title
        email: email
      properties:
        phoneNumber:
          description: Phone number in e.164 format
          type: string
        email:
          description: The email of the contact
          nullable: true
          type: string
        firstName:
          description: The first name of the contact
          nullable: true
          type: string
        lastName:
          description: The last name of the contact
          nullable: true
          type: string
        company:
          description: The company of the contact
          nullable: true
          type: string
        title:
          description: The title of the contact
          nullable: true
          type: string
        custom:
          description: The first custom field
          nullable: true
          type: string
        custom2:
          description: The second custom field
          nullable: true
          type: string
        custom3:
          description: The third custom field
          nullable: true
          type: string
        custom4:
          description: The fourth custom field
          nullable: true
          type: string
      required:
      - phoneNumber
      type: object
    ContactResponseFields:
      description: A container for response fields of a contact
      example:
        firstName: firstName
        lastName: lastName
        phoneNumber: phoneNumber
        scheduledDeletionDate: 2000-01-23
        custom: custom
        custom3: custom3
        custom4: custom4
        company: company
        custom2: custom2
        title: title
        email: email
      properties:
        phoneNumber:
          description: Phone number in e.164 format
          type: string
        email:
          description: The email of the contact
          nullable: true
          type: string
        firstName:
          description: The first name of the contact
          nullable: true
          type: string
        lastName:
          description: The last name of the contact
          nullable: true
          type: string
        company:
          description: The company of the contact
          nullable: true
          type: string
        title:
          description: The title of the contact
          nullable: true
          type: string
        custom:
          description: The first custom field
          nullable: true
          type: string
        custom2:
          description: The second custom field
          nullable: true
          type: string
        custom3:
          description: The third custom field
          nullable: true
          type: string
        custom4:
          description: The fourth custom field
          nullable: true
          type: string
        scheduledDeletionDate:
          description: "The date in ISO 8601 format, YYYY-MM-DD,\n on which the contact\
            \ is going to be deleted\n because it has not belonged to a group for\
            \ 30 days"
          format: date
          nullable: true
          type: string
      type: object
    ContactUpdateFields:
      description: A container for fields of a contact
      example:
        firstName: firstName
        lastName: lastName
        custom: custom
        custom3: custom3
        custom4: custom4
        company: company
        custom2: custom2
        title: title
        email: email
      minProperties: 1
      properties:
        email:
          description: The email of the contact
          nullable: true
          type: string
        firstName:
          description: The first name of the contact
          nullable: true
          type: string
        lastName:
          description: The last name of the contact
          nullable: true
          type: string
        company:
          description: The company of the contact
          nullable: true
          type: string
        title:
          description: The title of the contact
          nullable: true
          type: string
        custom:
          description: The first custom field
          nullable: true
          type: string
        custom2:
          description: The second custom field
          nullable: true
          type: string
        custom3:
          description: The third custom field
          nullable: true
          type: string
        custom4:
          description: The fourth custom field
          nullable: true
          type: string
      type: object
    GroupListEnvelope:
      description: A container for groups
      example:
        groups:
        - name: name
          contactsCount: 0
          id: id
          createdOn: createdOn
        - name: name
          contactsCount: 0
          id: id
          createdOn: createdOn
      properties:
        groups:
          description: An array of groups
          items:
            $ref: '#/components/schemas/GroupResponseFields'
          type: array
          uniqueItems: true
      type: object
    GroupEnvelope:
      description: A container for a group
      example:
        group:
          name: name
          contactsCount: 0
          id: id
          createdOn: createdOn
      properties:
        group:
          $ref: '#/components/schemas/GroupResponseFields'
      type: object
    ContactListEnvelope:
      description: A container for contacts
      example:
        contacts:
        - firstName: firstName
          lastName: lastName
          phoneNumber: phoneNumber
          scheduledDeletionDate: 2000-01-23
          custom: custom
          custom3: custom3
          custom4: custom4
          company: company
          custom2: custom2
          title: title
          email: email
        - firstName: firstName
          lastName: lastName
          phoneNumber: phoneNumber
          scheduledDeletionDate: 2000-01-23
          custom: custom
          custom3: custom3
          custom4: custom4
          company: company
          custom2: custom2
          title: title
          email: email
      properties:
        contacts:
          description: An array of contacts
          items:
            $ref: '#/components/schemas/ContactResponseFields'
          type: array
          uniqueItems: true
      type: object
    ContactEnvelope:
      description: A container for a contact
      example:
        contact:
          firstName: firstName
          lastName: lastName
          phoneNumber: phoneNumber
          scheduledDeletionDate: 2000-01-23
          custom: custom
          custom3: custom3
          custom4: custom4
          company: company
          custom2: custom2
          title: title
          email: email
      properties:
        contact:
          $ref: '#/components/schemas/ContactResponseFields'
      type: object
    EmptyObject:
      description: An object containing no properties
      type: object
    ErrorCodePhonebook:
      description: |-
        Matches the following error title.
          This field is a constant

          * 201 - Invalid data
          * 202 - Unauthorized
          * 203 - Missing resource
          * 204 - Conflict
          * 244 - Client error
          * 205 - General error
      enum:
      - "201"
      - "202"
      - "203"
      - "204"
      - "244"
      - "205"
      type: string
    ErrorTitlePhonebook:
      description: Textual value which corresponds to an error code
      enum:
      - Invalid data
      - Unauthorized
      - Missing resource
      - Conflict
      - Client error
      - General error
      type: string
    ErrorPhonebook:
      description: A container for errors
      properties:
        errors:
          description: An array of errors
          items:
            $ref: '#/components/schemas/ErrorItemPhonebook'
          type: array
      required:
      - errors
    ErrorItemPhonebook:
      description: A container for Phonebook API error
      properties:
        title:
          $ref: '#/components/schemas/ErrorTitlePhonebook'
        detail:
          description: Free form more detailed description of the error
          type: string
        code:
          $ref: '#/components/schemas/ErrorCodePhonebook'
      required:
      - code
      - detail
      - title
      type: object
    OmniMessageCreateSuccessResponse:
      description: A container for a response received after successfully created
        omnimessage
      example:
        messages:
        - sender: sender
          channel: null
          message_id: message_id
        - sender: sender
          channel: null
          message_id: message_id
        to: to
        omnimessage_id: omnimessage_id
      properties:
        messages:
          description: List of messages that compose the omnimessage
          items:
            $ref: '#/components/schemas/MessageResult'
          type: array
        to:
          description: Phone number in e.164 format
          type: string
        omnimessage_id:
          description: Unique identifier for the omnimessage
          format: UUID
          type: string
      required:
      - messages
      - omnimessage_id
      - to
      type: object
    MessageResult:
      description: A message part of an omnimessage
      example:
        sender: sender
        channel: null
        message_id: message_id
      properties:
        message_id:
          description: Unique identifier for the message
          format: UUID
          type: string
        channel:
          $ref: '#/components/schemas/Channel'
        sender:
          description: Sender that was used for the message
          type: string
      required:
      - channel
      - message_id
      - sender
      type: object
    Channel:
      description: Defines the delivery channel
      enum:
      - sms
      - viber
      - whatsapp
      - telegram
      type: string
    Omnimessage:
      description: An omnimessage
      example:
        text_store: null
        time_to_send: 2000-01-23T04:56:07.000+00:00
        dlr_url: http://example.com/aeiou
        messages:
        - null
        - null
        to: to
        priority: null
      properties:
        to:
          description: Phone number in e.164 format
          type: string
        messages:
          description: An array of messages
          items:
            $ref: '#/components/schemas/Omnimessage_messages_inner'
          type: array
        dlr_url:
          description: URL where the delivery report will be sent
          format: url
          type: string
        text_store:
          $ref: '#/components/schemas/TextStore'
        time_to_send:
          description: "Optional parameter for sending messages at some specific time\
            \ in the future.\n  Time must be specified in the ISO-8601 format.\n \
            \ If no timezone is specified, then the timezone is assumed to be UTC\n\
            \n  Examples:\n\n  * Time specified with timezone: 2018-06-22T09:05:07+00:00\
            \ Time specified in UTC: 2018-06-22T09:05:07Z\n  * Time specified without\
            \ timezone: 2018-06-22T09:05 (equivalent to 2018-06-22T09:05+00:00)"
          format: date-time
          type: string
        priority:
          $ref: '#/components/schemas/Priority'
      required:
      - messages
      - to
      type: object
    TextStore:
      description: "Whether to store message content as is (plaintext), as a hashed\
        \ value (sha256) or not at all (nostore)"
      enum:
      - nostore
      - plaintext
      - sha256
      type: string
    Priority:
      description: |-
        Set the priority of the message.
          Messages are processed starting with in highest priority queue first and lowest priority queue last.
          This for example allows to prioritize OTP messages over marketing traffic.
      enum:
      - low
      - regular
      - high
      type: string
    Viber:
      description: Viber message content
      properties:
        sender:
          description: Phone number or alphanumeric sender name
          type: string
        validity:
          description: After how many minutes this channel is considered as failed
            and the next channel is attempted
          example: 360
          type: integer
        text:
          description: Plaintext content for Viber
          type: string
        image_url:
          description: "URL for the embedded image\n\n  Valid combinations:\n\n  1)\
            \ image_url,\n\n  2) text, image_url, button_url, button_text"
          type: string
        button_url:
          description: "URL of the button, must be specified along with ''text'',\
            \ ''button_text'' and ''image_url'' (optional)"
          type: string
        button_text:
          description: "Must be specified along with ''text'', ''button_url'', ''button_text'',\
            \ ''image_url'' (optional)"
          type: string
        channel:
          default: viber
          description: The channel used to deliver the message
          enum:
          - viber
          type: string
      type: object
    WhatsApp:
      description: "WhatsApp message content.\n  Only one of \"text\", \"image\",\
        \ \"document\" or \"audio\" can be provided"
      properties:
        sender:
          description: Phone number or alphanumeric sender name
          type: string
        validity:
          description: |-
            After how many minutes this channel is
              considered as failed and the next channel is attempted
          example: 360
          type: integer
        text:
          $ref: '#/components/schemas/WhatsAppText'
        image:
          $ref: '#/components/schemas/WhatsAppImage'
        document:
          $ref: '#/components/schemas/WhatsAppDocument'
        audio:
          $ref: '#/components/schemas/WhatsAppAudio'
        channel:
          default: whatsapp
          description: The channel used to deliver the message
          enum:
          - whatsapp
          type: string
    Telegram:
      description: Telegram message content
      properties:
        sender:
          description: Phone number or alphanumeric sender name
          type: string
        validity:
          description: After how many minutes this channel is considered as failed
            and the next channel is attempted
          example: 360
          type: integer
        text:
          description: Plaintext content for Telegram
          type: string
        image_url:
          description: URL for the embedded image. Mutually exclusive with "document_url"
            and "audio_url"
          type: string
        document_url:
          description: URL for the embedded image. Mutually exclusive with "audio_url"
            and "image_url"
          type: string
        audio_url:
          description: URL for the embedded image. Mutually exclusive with "document_url"
            and "image_url"
          type: string
        channel:
          default: telegram
          description: The channel used to deliver the message
          enum:
          - telegram
          type: string
      type: object
    SMS:
      description: SMS message content
      properties:
        text:
          description: Text content of the SMS
          example: Hello world!
          type: string
        sender:
          description: Phone number or alphanumeric sender name
          type: string
        validity:
          description: After how many minutes this channel is considered as failed
            and the next channel is attempted
          example: 360
          type: integer
        autoconvert:
          description: "Defines how non-GSM characters will be treated:\n\n  - \"\
            on\" Use replacement settings from the account's [API Auto Replace settings\
            \ page](https://dashboard.messente.com/api-settings/auto-replace) (default)\n\
            \  - \"full\" All non GSM 03.38 characters will be replaced with suitable\
            \ alternatives\n  - \"off\" Message content is not modified in any way"
          enum:
          - full
          - "on"
          - "off"
          type: string
        udh:
          description: hex-encoded string containing SMS UDH
          type: string
        channel:
          default: sms
          description: The channel used to deliver the message
          enum:
          - sms
          type: string
      required:
      - text
    WhatsAppDocument:
      description: A document
      properties:
        caption:
          description: Description for the document
          type: string
        content:
          description: Base64-encoded image
          type: string
      required:
      - content
      type: object
    WhatsAppImage:
      description: An image
      properties:
        caption:
          description: Description for the image
          type: string
        content:
          description: Base64-encoded image
          type: string
      required:
      - content
      type: object
    WhatsAppText:
      description: A text
      properties:
        preview_url:
          default: true
          description: Whether to display link preview if the message contains a hyperlink
          type: boolean
        body:
          description: "Plaintext content for WhatsApp, can contain URLs, emojis and\
            \ formatting"
          type: string
      required:
      - body
      type: object
    WhatsAppAudio:
      description: A sound
      properties:
        content:
          description: Base64-encoded audio
          type: string
      required:
      - content
      type: object
    ErrorCodeOmnichannel:
      description: |-
        Matches the following error title.
          This field is a constant

          * 101 - Not found
          * 102 - Forbidden
          * 103 - Unauthorized
          * 104 - Internal Server Error
          * 105 - Invalid data
          * 106 - Missing data
          * 107 - Method not allowed
      enum:
      - "101"
      - "102"
      - "103"
      - "104"
      - "105"
      - "106"
      - "107"
      type: string
    ErrorTitleOmnichannel:
      description: Textual value which corresponds to an error code
      enum:
      - Not found
      - Forbidden
      - Unauthorized
      - Invalid data
      - Internal Server Error
      - Missing data
      - Method not allowed
      type: string
    ErrorOmnichannel:
      description: A container for errors
      properties:
        errors:
          description: An array of errors
          items:
            $ref: '#/components/schemas/ErrorItemOmnichannel'
          type: array
      required:
      - errors
    ErrorItemOmnichannel:
      description: A container for Omnichannel API error
      properties:
        title:
          $ref: '#/components/schemas/ErrorTitleOmnichannel'
        detail:
          description: Free form more detailed description of the error
          type: string
        code:
          $ref: '#/components/schemas/ErrorCodeOmnichannel'
        source:
          description: "Describes which field is causing the issue in the payload,\
            \ null for non 400 status code responses"
          nullable: true
          type: string
      required:
      - code
      - detail
      - source
      - title
      type: object
    DeliveryReportResponse:
      description: A container for successful delivery report response
      example:
        statuses:
        - err: null
          channel: null
          message_id: message_id
          error: error
          status: null
          timestamp: 2000-01-23T04:56:07.000+00:00
        - err: null
          channel: null
          message_id: message_id
          error: error
          status: null
          timestamp: 2000-01-23T04:56:07.000+00:00
        to: to
        omnimessage_id: omnimessage_id
      properties:
        statuses:
          description: "Contains the delivery reports for each channel, ordered by\
            \ send order"
          items:
            $ref: '#/components/schemas/DeliveryResult'
          type: array
        to:
          description: Phone number in e.164 format
          type: string
        omnimessage_id:
          description: Unique identifier for the omnimessage
          format: UUID
          type: string
      required:
      - omnimessage_id
      - statuses
      - to
      type: object
    DeliveryResult:
      description: A delivery report
      example:
        err: null
        channel: null
        message_id: message_id
        error: error
        status: null
        timestamp: 2000-01-23T04:56:07.000+00:00
      properties:
        status:
          $ref: '#/components/schemas/Status'
        channel:
          $ref: '#/components/schemas/Channel'
        message_id:
          description: Unique identifier for the message
          format: UUID
          type: string
        error:
          description: "Human-readable description of what went wrong, *null* in case\
            \ of success or if the message has not been processed yet"
          nullable: true
          type: string
        err:
          $ref: '#/components/schemas/ErrorCodeOmnichannelMachine'
        timestamp:
          description: When this status was received by Omnichannel API
          format: date-time
          type: string
      type: object
    Status:
      description: |-
        The human-readable equivalent for this field is contained in "error".
          This value is *null* if the message is still being processed
      enum:
      - ACK
      - DELIVRD
      - UNDELIV
      - FAILED
      - UNKNOWN
      - ACCEPTD
      - REJECTD
      - DELETED
      - EXPIRED
      - NACK
      - SEEN
      type: string
    ErrorCodeOmnichannelMachine:
      description: "Machine-readable error code, 'null' when the message has not been\
        \ processed yet\n\nMatches the following meanings\n\n  * 0 - No error\n  *\
        \ 1 - Delivery failure\n  * 2 - Sending message expired\n  * 3 - Invalid number\n\
        \  * 4 - Error crediting account\n  * 5 - Invalid number format\n  * 6 - Too\
        \ many identical messages\n  * 7 - Sender name not allowed\n  * 8 - Operator\
        \ blacklisted\n  * 9 - Unroutable\n  * 10 - Seen\n  * 999 - General temporary\
        \ error"
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 8
      - 9
      - 10
      - 999
      type: integer
    ErrorItemNumberLookup_error:
      description: Error fields container
      properties:
        description:
          description: Error description
          type: string
        code:
          description: "Matches the following error title.\n  This field is a constant\n\
            \n* 101 - Unauthorized\n* 102 - Invalid arguments or parameters\n* 103\
            \ - Server error\n* 104 - Crediting error #1\n* 105 - Crediting error\
            \ #2\n* 106 - Client error"
          maximum: 106
          minimum: 101
          type: integer
      required:
      - code
      - description
      type: object
    Omnimessage_messages_inner:
      oneOf:
      - $ref: '#/components/schemas/Viber'
      - $ref: '#/components/schemas/SMS'
      - $ref: '#/components/schemas/WhatsApp'
      - $ref: '#/components/schemas/Telegram'
  securitySchemes:
    basicAuth:
      scheme: basic
      type: http

